/** Default fixes, improvements and modifications for all themes **/

/* Account + groups cover and content adjustments */
/* centers profile avatars (avatar width with 4px borders at 136px) */
.account .cover .avatar-wrapper {
    margin-left: -68px !important;
}
/* ensures there is no difference between your personal (initialised) and other user's profiles */
.account .initialised {
    margin-top: unset !important;
}
/* shows the whole cover for profiles and groups (currently still adjusted for 100px header instead of 120px (64+56) */
@media (min-width: 992px) {
    .account .cover, .groups.details [component="groups/cover"] {
        top: 120px !important;
    }
}
@media (max-width: 991px) {
    .account .cover, .groups.details [component="groups/cover"]  {
        top: 120px !important;
    }
    /* brings account content up, needed because account covers are only 200px instead of 300px high at this screen size */
    .account {
        margin-top: 200px !important;
    }
}
@media (max-width: 767px) {
    .account .cover, .groups.details [component="groups/cover"] {
        top: 64px !important;
    }
    /* adjusts for missing submenu */
    #content.container {
        margin-top: -56px;
    }
}

/* Font icons */
.fa-angle-down::before {
    content: "\f0d7" !important;
}
.fa-angle-up::before {
    content: "\f0d8" !important;
}
#vivaldimenu a .sub-arrow {
    position: relative !important;
}
#vivaldimenu a .sub-arrow::after {
    position: absolute;
    top: -11px;
    left: 16px;
    content: "\f107";
    font-family: FontAwesome;
    font-size: 13px;
    opacity: 0.66;
}

/* Remove underline from first post tags */
.tags.pull-left a {
    text-decoration: none !important;
}

/* Advanced search panel cursor */
#advanced-search .panel-default>.panel-heading:hover {
    cursor: pointer;
}

/* Threaded replies cleanup */
a.threaded-replies.no-select .avatars, a.threaded-replies.no-select span.replies-last.hidden-xs {
    display: none;
}

/* Reduces the number of font sizes used in posts */
.topic .threaded-replies, small.pull-left, span.timeago {
    font-size: 12px !important;
}
.topic [component="post/parent"] {
    font-size: 10px !important;
}

/* Correct cursor over vote count span (clickable) */
.pull-right .votes span {
    cursor: pointer;
}

/* Flickering fix */
@keyframes fixthemes {
    from {
        transform: scale3d(1, 1, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
#vivaldilogo {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fixthemes;
}

/* Blockquote search fontsize/margin fix */
.search blockquote {
    font-size: 100%;
    margin: 8px 0;
    padding: 0 10px;
}

/* Line breaks for code in topics (no horizontal scroll) */
.topic .posts .content pre code {
    white-space: pre-wrap !important;
}

/* Code vertical scrollbar from markdown to hljs */
.topic .posts .content pre {
    max-height: unset !important;
}
.markdown-highlight .hljs {
    max-height: 350px;
}

/* Button spacing (modal/search/composer/main/toolbar) */
.btn-primary.composer-submit, .modal-footer .btn+.btn, .btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group, .btn-toolbar .dropdown.pull-right {
    margin-left: 4px !important;
}
button[type^="submit"].btn-primary, .btn-default#save-preferences {
    margin-right: 4px;
}

/* Disabled user-select for logged-in menu (prevents accidental highlighting of dropdown text when dropdown isn't expanded) */
#logged-in-menu.nav.navbar-nav.navbar-right {
    user-select: none;
}

/* Min-height for resizeable text input */
.account textarea.form-control {
    resize: vertical;
    min-height: 42px;
}

/* Disable line breaks for composer title */
.composer .title-container .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* mobile view fixes */
.slideout-menu a:hover, .slideout-menu a:focus {
    color: #fff;
}
.slideout-menu .status.offline {
    color: #fff;
    opacity: 0.66;
}
.topic .pagination-block {
    background-color: #1d1f20 !important;
}
.topic .pagination-block .progress-bar {
    background-color: #101010 !important;
}

/* full chat content container padding fix */
.page-user-chats #content.container {
    padding-top: 30px !important;
}

/* remove top border from chats list to fix avatar offset */
.chats-list>li {
    border-top: none !important;
}
/* Auto-hide header transition */
#header-menu, #submenu {
    transition: top 0.857s !important;
}

/* Copy all code button */
.copy-all-code-button {
    position: absolute;
    right: 25px;
    opacity: 0;
    background-color: rgba(125, 125, 125, 0.66);
    padding: 4px;
    border: none;
    border-radius: 2px;
    outline: none;
    color: #fff;
}
.markdown-highlight .hljs:hover + .copy-all-code-button {
    opacity: 1;
}
.copy-all-code-button:hover {
    opacity: 1;
    color: #f4ff9d;
}

/*
Option to dismiss community notifications
The notification is being shown by default.js, if not dismissed previously.
*/
.shadow-box3 {
    display: none !important;
}
section.footer-notification {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* transparent logo for very small media widths */
@media (max-width: 420px) {
    #vivaldiheader #vivaldilogo {
        background: url('chrome-extension://__MSG_@@extension_id__/themes/img/logo-mobile.png') center no-repeat !important;
    }
}
