body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .5px;
    background-color: hsl(0, 0%, 99%);
    cursor: default;
    margin: 0;
    -moz-user-select: none;
    user-select: none;
}


/* Header */

header {
    white-space: nowrap;
    color: hsl(0, 0%, 37%);
    background-color: hsl(0, 0%, 99%);
    cursor: default;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
#logo {
    position: fixed;
    top: 8px;
    left: 40px;
}
#themes-btn {
    margin-left: 70px;
}
#themes-btn, #modifications-btn, #info-btn, #feedback-btn, #reset-btn {
    color: hsl(0, 0%, 37%);
    cursor: default;
    background: none;
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    height: 40px;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 0 8px;
    cursor: pointer;
}
#themes-btn:hover, #modifications-btn:hover, #info-btn:hover, #feedback-btn:hover, #reset-btn:hover, .view {
    color: hsl(353, 85%, 44%) !important;
}
form {
    display: inline;
}
#status {
    color: hsl(0, 0%, 99%);
    background: hsl(0, 0%, 18%);
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px 0;
}


/* Content */

#content {
    position: absolute;
    width: 100%;
    line-height: 1.2;
    color: hsl(0, 0%, 37%);
    top: 13vh;
    left: 0;
    right: 0;
    padding-bottom: 55px;
    margin: auto;
    text-align: left;
}
* {
    box-sizing: border-box;
}

/* Create columns */

.column-left {
    float: left;
    width: 50%;
    padding: 0 20px 0 40px;
    margin-bottom: 30px;
}
.column-right {
    float: right;
    width: 50%;
    padding: 0 20px 0 40px;
}
.scroll-column {
    width: 100%;
    max-height: 49vh;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.scroll-column:hover {
    width: 100%;
    overflow-y: overlay;
}
.scroll-column p:first-of-type {
    margin-top: 0px;
}


/* Clears floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Stacks columns on top of each other for smaller displays */

@media screen and (max-width: 1000px) {
    .column-right, .right, .column-left, .left {
        width: 100%;
    }
}
.float {
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 15px;
}
.left {
    float: left;
}
.right {
    float: right;
    left: -100px
}

h2 {
    margin-top: 0;
    text-align: left;
    font-size: 1.3rem;
    color: hsl(223, 100%, 25%);
}
strong, a {
    color: hsl(353, 85%, 44%);
}
#modifications, #info {
    display: none;
}


/* Themes page */

.themebox {
    width: 113px;
    padding: 0;
    border: 0;
    margin: 0 14px 14px 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: transparent;
}
.themebox:hover{
    background: transparent !important;
}
.themebox .themebox-image {
    position: relative;
    overflow: hidden;
    border: 2px solid hsl(0, 0%, 70%);
    outline: 1px solid hsl(0, 0%, 70%);
    font-size: 0;
}
.active .themebox-image::before {
    opacity: 1;
    transform: scale(1);
}
.themebox-image::before {
    content: "";
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transition: 0.4s;
    transform-origin: 100% 100%;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 20px solid transparent;
}
.active .themebox-image .themebox-o_mark {
    opacity: 1;
    transform: none;
}
.themebox-image .themebox-o_mark {
    transform: scale(1.5) translateX(2px) translateY(2px);
    opacity: 0;
    transition: 0.4s;
    position: absolute;
    height: 16px;
    width: 16px;
    bottom: 3px;
    right: 3px;
    stroke-width: 2px;
}

/* themebox border colors */
#custom1.active .themebox-image {
    border-color: var(--c1Hi);
}
#custom1.active .themebox-image::before {
    border-bottom-color: var(--c1Hi);
    border-right-color: var(--c1Hi);
}
#custom1 .themebox-image .themebox-o_mark {
    fill: var(--c1Hi);
    stroke: var(--c1Bg);
}
#custom2.active .themebox-image {
    border-color: var(--c2Hi);
}
#custom2.active .themebox-image::before {
    border-bottom-color: var(--c2Hi);
    border-right-color: var(--c2Hi);
}
#custom2 .themebox-image .themebox-o_mark {
    fill: var(--c2Hi);
    stroke: var(--c2Bg);
}
#custom3.active .themebox-image {
    border-color: var(--c3Hi);
}
#custom3.active .themebox-image::before {
    border-bottom-color: var(--c3Hi);
    border-right-color: var(--c3Hi);
}
#custom3 .themebox-image .themebox-o_mark {
    fill: var(--c3Hi);
    stroke: var(--c3Bg);
}
#custom4.active .themebox-image {
    border-color: var(--c4Hi);
}
#custom4.active .themebox-image::before {
    border-bottom-color: var(--c4Hi);
    border-right-color: var(--c4Hi);
}
#custom4 .themebox-image .themebox-o_mark {
    fill: var(--c4Hi);
    stroke: var(--c4Bg);
}
#standard.active .themebox-image {
    border-color: #ef3939;
}
#standard.active .themebox-image::before {
    border-bottom-color: #ef3939;
    border-right-color: #ef3939;
}
#standard .themebox-image .themebox-o_mark {
    fill: #ef3939;
    stroke: #fff;
}
#darkGrey.active .themebox-image {
    border-color: #ec2224;
}
#darkGrey.active .themebox-image::before {
    border-bottom-color: #ec2224;
    border-right-color: #ec2224;
}
#darkGrey .themebox-image .themebox-o_mark {
    fill: #ec2224;
    stroke: #fff;
}
#lightGrey.active .themebox-image {
    border-color: #ec2224;
}
#lightGrey.active .themebox-image::before {
    border-bottom-color: #ec2224;
    border-right-color: #ec2224;
}
#lightGrey .themebox-image .themebox-o_mark {
    fill: #ec2224;
    stroke: #fff;
}
#mod.active .themebox-image {
    border-color: #d01126;
}
#mod.active .themebox-image::before {
    border-bottom-color: #d01126;
    border-right-color: #d01126;
}
#mod .themebox-image .themebox-o_mark {
    fill: #d01126;
    stroke: #ebf5f7;
}
#sprucey.active .themebox-image {
    border-color: #337ab7;
}
#sprucey.active .themebox-image::before {
    border-bottom-color: #337ab7;
    border-right-color: #337ab7;
}
#sprucey .themebox-image .themebox-o_mark {
    fill: #337ab7;
    stroke: #f1f1f1;
}

.themebox .themebox-title {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-top: 7px;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    color: hsl(0, 0%, 37%);
}
input[type="text" i] {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: hsl(0, 0%, 37%);
    width: 230px;
    padding-left: 5px;
}
input[type="color" i] {
    width: 38px;
}
.toggleEdit {
    opacity: 0;
    margin-top: 5px;
    line-height: 2.2;
}


/* Modifications page */

#selectMods span {
    padding: 2px 0;
}
#selectMods span::before {
    content: "\2b55";
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    float: left;
    margin-top: 1px;
    padding-right: 8px;
    opacity: 0;
}
.selected {
    color: hsl(353, 85%, 44%);
}
#selectMods span.selected::before {
    opacity: 1;
}
#editCSS button {
    margin-bottom: 4px;
}
#userCSS {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 12px;
    color: hsl(0, 0%, 18%);
    background-color: white;
    padding: 5px;
    border: 2px solid hsl(0, 0%, 70%);
    width: 100%;
    height: 49vh;
    resize: vertical;
    min-height: 100px;
}
#userCSS:disabled {
    background-color: hsl(0, 0%, 99%);
}


/* Buttons */

button {
    background: hsl(0, 0%, 37%);
    color: hsl(0, 0%, 99%);
    border:  2px solid hsl(0, 0%, 37%);
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding: 4px 11px;
    border-radius: 3px;
    cursor: pointer;
}
button:hover:not(:disabled) {
    background: hsl(0, 0%, 18%);
    border-color: hsl(0, 0%, 18%);
}
button:disabled {
    cursor: default;
    color: hsl(0, 0%, 70%);
}
button, #selectMods > p > span, .editTheme input:not(:first-of-type) {
    cursor: pointer;
}
button:focus {
    outline: none;
}
button.deactivated {
    background: hsl(0, 0%, 99%);
    color: hsl(0, 0%, 37%);
    border-color: hsl(0, 0%, 70%);
}
button.deactivated:hover {
    background: hsl(0, 0%, 37%);
    color: hsl(0, 0%, 99%);
    border-color: hsl(0, 0%, 37%);
}
