/** Custom Theme **/

body {
    background-color: var(--colorBg) !important;
    color: var(--colorFg);
}


/* Header */

#vivaldiheader {
    background-color: var(--colorBg);
}
#vivaldiheader a, #vivaldiheader a:active, #vivaldiheader a:focus, #vivaldiheader a:visited {
    color: var(--colorFg);
}
#vivaldimenu a.current, #vivaldimenu a:hover {
    color: var(--colorHi);
}
#vivaldimenu a .sub-arrow::after {
    color: var(--colorFg) !important;
}
#vivaldimenu ul {
    background-color: var(--colorBg);
    border: 1px solid var(--colorBgHi);
}
#vivaldimenu ul li {
    border-top: 1px solid var(--colorBgHi);
}
#vivaldimenu ul a:hover {
    background-color: var(--colorBgHiC);
}
.header #user_dropdown img, .account .cover .avatar-wrapper {
    border-color: var(--colorBgHi);
}
.unread-count::after, .taskbar .navbar-nav li.taskbar-chat.new::after {
    background-color: var(--colorHi);
    color: var(--colorHiFg);
    border-color: var(--colorHi);
}
#logged-in-menu.nav.navbar-nav.navbar-right {
    font-size: 15px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: var(--colorBgHi);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: var(--colorFg);
}
button#mobile-menu.navbar-toggle:hover, button#mobile-menu.navbar-toggle:focus {
    background-color: var(--colorBgHi) !important;
}
/* progress */
#nprogress .spinner-icon {
    border-top-color: var(--colorHi);
    border-left-color: var(--colorHi);
}
/* menuwrapper */
#submenu {
    background-color: #121212;
    border-bottom: 1px solid #414141;
}
#submenu li>a {
    color: #dddddd;
}
#submenu a:focus, #submenu a:hover, #submenu li.active>a {
    color: #fbfbfb;
    background-color: #414141;
}


/* Dropdowns */

.dropdown-menu {
    background-color: var(--colorDrop);
}
.header .chat-list {
    color: var(--colorDropFg);
}
.header .chat-list>li:hover {
    background-color: var(--colorDropHi);
}
.notification-list li.unread, .notifications-list li.unread, .chat-list.chats-list li.unread {
    background-color: var(--colorDropHiG) !important;
}
li .notif-dropdown-link a:hover {
    background-color: var(--colorDropHi);
}
.header .notif-dropdown-link {
    border-top-color: var(--colorDropHi3);
}
.header .chat-list>li:not(:last-child) {
    border-bottom: 1px solid var(--colorDropHi2);
}
.dropdown-menu .divider {
    background-color: var(--colorDropHi3);
}
.dropdown-header {
    color: var(--colorDropFg);
    opacity: 0.66;
}
.dropdown-menu a, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, ul.dropdown-menu.dropdown-menu-right a, ul.dropdown-menu.dropdown-menu-right a:hover, ul.dropdown-menu.dropdown-menu-right a:focus {
    color: var(--colorDropFg) !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: var(--colorDropHi);
}
li[data-nid^="new_post"]::before, li[data-nid^="upvote"]::before, li[data-nid^="follow"]::before, li[data-nid^="move"]::before, li[data-nid^="chat"]::before, li[data-nid^="tid"]::before, #menu .notification-list li .mark-read, .header .notification-list li .mark-read {
    color: var(--colorDropFg) !important;
}
.dropdown-menu>li>a {
    text-decoration: none !important;
}


/* Pagination */

.pagination>li>a, .pagination>li>span {
    background-color: transparent;
    border-color: var(--colorBgHiG2) !important;
    color: var(--colorFg);
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: var(--colorBgHi);
    color: var(--colorFg);
}
.pagination>.disabled>a, .pagination>.disabled>span {
    background-color: var(--colorBg);
    color: var(--colorBgHiG2) !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--colorHi);
    color: var(--colorHiFg);
}


/* Text */

.posts-list .posts-list-item .topic-title, a {
    color: var(--colorLi);
}
.posts-list .posts-list-item .topic-title:hover, a:hover, a:focus {
    color: var(--colorLiHi);
}
ul.nav.nav-pills a:hover, ul.nav.nav-pills a:focus {
    color: var(--colorLi) !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: var(--colorLi);
    background-color: var(--colorBgHiC);
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: var(--colorLi);
    background-color: var(--colorBgHiG);
}
.category>ul>li:not(.unread) h2 a {
    color: var(--colorLiR);
}
.category>ul>li:not(.unread) .card {
    border-color: var(--colorLiR) !important;
}
li.active::before, .breadcrumb>li+li:before, .breadcrumb>.active, .categories>p, .category>p, .subcategory>p, .categories-title {
    color: var(--colorFg2) !important;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small, .categories h2.title .description, .category h2.title .description, .subcategory h2.title .description, a.permalink, a.permalink:active, a.permalink:focus, a.permalink:hover, .account>.row .fullname, .account .profile .aboutme>p, .categories .category-children small, .category .category-children small, .subcategory .category-children small, .posts-list .posts-list-item .post-info .post-author a, [component='topic'] [component='post'] meta[itemprop="localdateModified"] {
    color: var(--colorFg2);
}
.posts-list .posts-list-item .topic-category a, .posts-list .posts-list-item .post-info .post-author span.timeago, .stats small, .breadcrumb .fa, .tag-item, .account .profile .account-stats .stat-label, .account .profile .profile-meta span {
    color: var(--colorFg2);
    opacity: 0.8;
}
.breadcrumb .fa:hover {
    color: var(--colorHi);
    opacity: 1;
}
.account .profile .profile-meta strong, .categories .description, .category .description, .subcategory .description {
    color: var(--colorFg);
}
.category-children a small:hover {
    color: var(--colorLi);
}
hr {
    border-color: var(--colorBgHi);
}
.topic .posts [component=post].highlight>hr {
    border-color: var(--colorLi);
    box-shadow: 0 0 1px var(--colorLi);
}
.topic .post-signature {
    border-top-color: var(--colorBgHiG2);
}
.topic .posts>li a, .tag-topic-count {
    color: var(--colorLi2);
}
.topic .posts>li a:hover {
    color: var(--colorLi2Hi);
}
small.pull-right a {
    color: var(--colorLi2) !important;
}
.expanded-chat .chat-content li.chat-message, .chat-modal .chat-content li.chat-message {
    font-weight: 400 !important;
}
.topic .bookmarked {
    color: var(--colorLi);
}
.text-warning {
    color: var(--colorHi);
}
.text-muted {
    color: var(--colorFg2);
    opacity: 0.66;
}
#vivaldifooter a {
    color: var(--colorFg);
}


/* Various backgrounds */

blockquote, .topic [component="post/parent"], .votes a {
    background-color: var(--colorBgHiG);
}
blockquote, .topic [component="post/replies"] {
    border-left: 5px solid var(--colorBgHiG2) !important;
}
.topic .posts .content .toggle {
    background-color: var(--colorBgHiG2);
    color: var(--colorFg);
    border: 1px solid var(--colorBgHiG2);
}
.categories>li:hover, .category>ul>li:hover {
    background-color: transparent;
}
.posts-list .posts-list-item .post-body {
    border-right-color: var(--colorLi);
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid var(--colorBgHiG2);
}
.well, #inputAboutMe, #inputSignature {
    background-color: var(--colorBgHiC);
    border-color: var(--colorBgHiG2);
}
.help-block {
    color: var(--colorFg2);
}
/* tags */
.category>ul>li .tag-list .tag {
    background-color: var(--colorBgHiC);
    color: inherit;
}
a[href="/tags/duplicate"] .tag, a[href="/tags/pipeline"] .tag, a[href="/tags/will not do"] .tag, a[href="/tags/done"] .tag, a[href="/tags/in progress"] .tag, a[href="/tags/resolved"] .tag, a[href="/tags/bug"] .tag, a[href="/tags/feature request"] .tag, a[href="/tags/new feature"] .tag, a[href="/tags/cannot reproduce"] .tag, a[href="/tags/fixed"] .tag, a[href="/tags/accessibility"] .tag, a[href="/tags/a11y"] .tag, a[href="/tags/в работе"] .tag, a[href="/tags/дубликат"] .tag, a[href="/tags/реализовано"] .tag, a[href="/tags/готово"] .tag, a[href="/tags/resolvido"] .tag, a[href="/tags/解決済み（不具合）"] .tag, a[href="/tags/未解決"] .tag, a[href="/tags/再現済み"] .tag, a[href="/tags/解決済み（質問）"] .tag, a[href="/tags/記載者要確認"] .tag, a[href="/tags/対応予定"] .tag, a[href="/tags/対応済み"] .tag, a[href="/tags/未再現"] .tag, a[href="/tags/開発側未確認"] .tag, a[href="/tags/解決済み（要望）"] .tag, a[href="/tags/対応対象外"] .tag, a[href="/tags/便利情報"] .tag, a[href="/tags/対応対象外"] .tag, a[href="/tags/確認予定"] .tag {
    background-color: var(--colorLiR) !important;
    color: var(--colorBg) !important;
}
.tag-item[data-tag="duplicate"], .tag-item[data-tag="pipeline"], .tag-item[data-tag="will not do"], .tag-item[data-tag="done"], .tag-item[data-tag="in progress"], .tag-item[data-tag="resolved"], .tag-item[data-tag="bug"], .tag-item[data-tag="feature request"], .tag-item[data-tag="new feature"], .tag-item[data-tag="cannot reproduce"], .tag-item[data-tag="fixed"], .tag-item[data-tag="accessibility"], .tag-item[data-tag="a11y"], .tag-item[data-tag="в работе"], .tag-item[data-tag="дубликат"], .tag-item[data-tag="реализовано"], .tag-item[data-tag="готово"], .tag-item[data-tag="resolvido"], .tag-item[data-tag="解決済み（不具合）"], .tag-item[data-tag="未解決"], .tag-item[data-tag="再現済み"],.tag-item[data-tag="解決済み（質問）"], .tag-item[data-tag="記載者要確認"], .tag-item[data-tag="対応予定"], .tag-item[data-tag="対応済み"], .tag-item[data-tag="未再現"], .tag-item[data-tag="開発側未確認"], .tag-item[data-tag="解決済み（要望）"], .tag-item[data-tag="対応対象外"], .tag-item[data-tag="便利情報"], .tag-item[data-tag="便利情報"], .tag-item[data-tag="確認予定"] {
    background-color: var(--colorFg2) !important;
    color: var(--colorBg) !important;
}


/* Notifications */

.notifications-list li:nth-child(odd), .notifications-list li.unread:nth-child(odd) {
    background-color: var(--colorBgHiC) !important;
}
.notifications-list li:nth-child(even), .notifications-list li.unread:nth-child(even) {
    background-color: var(--colorBgHi) !important;
}
.notifications-list li.unread:nth-child(odd), .notifications-list li.unread:nth-child(even) {
    border-left: 5px solid var(--colorLi) !important;
}
#content li[data-nid^="new_post"]::before, #content li[data-nid^="upvote"]::before, #content li[data-nid^="follow"]::before, #content li[data-nid^="move"]::before, #content li[data-nid^="chat"]::before, #content li[data-nid^="tid"]::before {
    color: unset !important;
}


/* Panels */

.panel {
    background-color: var(--colorBg);
    border-color: var(--colorBgHiG2);
    color: var(--colorFg);
}
#groups-list .panel {
    background-color: var(--colorBgHiC);
}
.panel-default>.panel-heading {
    background-color: var(--colorBgHiG);
    border-color: var(--colorBgHiG2);
    color: var(--colorFg);
}
.table-striped>tbody>tr:nth-of-type(odd), .table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: var(--colorBgHiC);
}
.table-striped>tbody>tr:nth-of-type(even):hover {
    background-color: var(--colorBg);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top-color: var(--colorBgHi);
}
/* search */
#results .search-result-text a, .account .post-body .content a, .groups.details .post-body .content a {
    color: var(--colorLi2);
}
#results .search-result-text a:hover, .account .post-body .content a:hover, .groups.details .post-body .content a:hover {
    color: var(--colorLi2Hi);
}
#advanced-search .panel {
    background-color: var(--colorBgHiC);
}


/* Code */

code {
    background-color: var(--colorBgHiCG);
    color: var(--colorLi);
}
pre {
    background-color: var(--colorBgHiCG);
    border: none;
}
pre code {
    color: var(--colorFg2);
}
.hljs {
    background-color: #121212;
}


/* Buttons */

.btn-primary, .btn-primary[disabled], .account .cover .indicator, .account .cover .save, .btn-danger, .btn-success, a.list-group-item {
    background-color: var(--colorBtn);
    border-color: var(--colorBtnHi) !important;
    color: var(--colorBtnFg) !important;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary, .account .cover .indicator:hover, .account .cover .save:hover, a.list-group-item:focus, a.list-group-item:hover {
    background-color: var(--colorBtnHi);
}
.btn-info, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info, .btn-danger:hover, .btn-danger:focus, .btn-success:hover, .btn-success:focus {
    background-color: var(--colorBtnHi);
    border-color: var(--colorBtnHi);
    color: var(--colorBtnFg) !important;
}
.btn-default, .btn-default[disabled] {
    color: var(--colorFg);
    background-color: var(--colorBg);
    border-color: var(--colorBgHiG2);
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background-color: var(--colorBgHiG);
    border-color: var(--colorBgHiG2) !important;
    color: var(--colorFg);
}
.btn-default.hidden-xs:hover,
.btn-default.hidden-xs:focus {
    background-color: var(--colorBgHiG);
}
.btn-group.account-fab .fab, .taskbar .navbar-nav li.taskbar-composer a, .taskbar .navbar-nav li.taskbar-composer a:hover, .taskbar .navbar-nav li.taskbar-composer a:focus {
    background-color: var(--colorHi);
}
.btn-group.account-fab .fab, .taskbar .navbar-nav li.taskbar-chat a i, .taskbar .navbar-nav li.taskbar-composer a i, .composer .resizer .trigger i, .taskbar .navbar-nav li.taskbar-chat a i, .taskbar .navbar-nav li.taskbar-chat a:active i, .taskbar .navbar-nav li.taskbar-chat a:focus i, .taskbar .navbar-nav li.taskbar-chat a:hover i {
    color: var(--colorHiFg);
}
.composer .resizer .trigger {
    background-color: var(--colorHi);
    border-color: var(--colorHi);
}
.btn-link {
    color: var(--colorLi2);
}
.btn-link:focus, .btn-link:hover {
    color: var(--colorLi2Hi);
}
.label-info {
    background-color: var(--colorBtn);
    color: var(--colorBtnFg) !important;
}
/* logged out menu */
a.btn-register, a.btn-login {
    border: 1px solid transparent;
    color: var(--colorFg);
}
a.btn-register:hover, a.btn-login:hover, a.btn-register:focus, a.btn-login:focus {
    background-color: var(--colorBgHiC) !important;
    border-color: var(--colorBgHiC);
    color: var(--colorFg) !important;
}


/* Alerts */

/* floating alerts */
.alert-window .alert.alert-warning, .alert-window .alert.alert-danger, .alert-window .alert.alert-success, .alert-window .alert.alert-info {
    background-color: var(--colorBg);
    color: var(--colorFg) !important;
    opacity: 1.0;
}
.alert-window .close {
    color: var(--colorFg);
    opacity: 0.4;
}
.alert-window .close:hover, .alert-window .close:focus {
    color: var(--colorFg);
    opacity: 0.85;
}
.alert-window .alert.alert-danger {
    border-left-color: #ef3939 !important;
}
.alert-window .alert.alert-warning, {
    border-left-color: #ff7518 !important;
}
.alert-window .alert.alert-success {
    border-left-color: #4caf50 !important;
}
.alert-window .alert.alert-info {
    border-left-color: var(--colorFg) !important;
}
.alert-window .alert.alert-danger::before {
    background-color: #ef3939 !important;
}
.alert-window .alert.alert-warning::before {
    background-color: #ff7518 !important;
}
.alert-window .alert.alert-success::before {
    background-color: #4caf50 !important;
}
.alert-window .alert.alert-info::before {
    background-color: var(--colorFg) !important;
}
/* page alerts */
.alert.alert-warning, .alert.alert-success, .alert.alert-info, .alert.alert-danger {
    background-color: var(--colorBgHiC);
    border-color: var(--colorBgHiC);
    color: var(--colorFg);
}
.alert.alert-danger {
    border-left: 5px solid #ef3939 !important;
}
.alert.alert-warning {
    border-left: 5px solid #ff7518 !important;
}
.alert.alert-success {
    border-left: 5px solid #4caf50 !important;
}
.alert.alert-info {
    border-left: 5px solid var(--colorFg) !important;
}


/* Dialogs */

.modal-content {
    background-color: var(--colorBg);
    color: var(--colorFg);
}
.modal-header {
    border-bottom-color: var(--colorBgHiG2);
}
.modal-footer {
    border-top-color: var(--colorBgHi);
}
.close {
    color: var(--colorFg);
    opacity: 0.4;
}
.close:hover, .close:focus {
    color: var(--colorFg);
    opacity: 0.85;
}
.chat-modal .chat-content li.chat-message[data-break=true], .expanded-chat .chat-content li.chat-message[data-break=true] {
     border-top-color: var(--colorBgHi);
}
.chats-full .chats-list>li.unread {
    background-color: unset;
    color: var(--colorLi2);
}
.bg-info {
    background-color: var(--colorBgHi);
}
.chats-list {
    border-top: 1px solid transparent;
}
.chats-list>li {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.chats-list>li, .chats-list>li.unread {
    border-bottom: 1px solid var(--colorBgHi);
}
.chat-modal .chat-content li.chat-message .chat-timestamp, .expanded-chat .chat-content li.chat-message .chat-timestamp {
    color: var(--colorFg2);
    opacity: 0.8;
}
.chat-modal .chat-content li.chat-message .chat-user a, .expanded-chat .chat-content li.chat-message .chat-user a {
    color: var(--colorFg);
}
.chat-modal [component="chat/header"], .chats-full [component="chat/header"], .chat-modal [component="chat/nav-wrapper"] .chat-search input, .chats-full [component="chat/nav-wrapper"] .chat-search input {
    background-color: #414141;
    color: #fbfbfb;
}
.chat-modal [component="chat/header"] .members a, .chats-full [component="chat/header"] .members a, .chat-modal [component="chat/header"] .close, .chats-full [component="chat/header"] .close {
    color: #fbfbfb;
}
.chat-search .form-control::-webkit-input-placeholder {
    color: #fbfbfb;
    opacity: 0.66;
}
.chat-modal [component="chat/composer"] [component="chat/input"], .chats-full [component="chat/composer"] [component="chat/input"] {
    border-color: var(--colorBgHiG2);
}
.chat-modal [component="chat/nav-wrapper"] [component="chat/search/list"], .chats-full [component="chat/nav-wrapper"] [component="chat/search/list"] {
    border-top: 1px solid var(--colorBgHiC) !important;
}
.chat-modal [component="chat/nav-wrapper"] [component="chat/search/list"] li, .chats-full [component="chat/nav-wrapper"] [component="chat/search/list"] li {
    background-color: var(--colorBgHiC);
    color: var(--colorFg2);
    border: 1px solid var(--colorBgHiC) !important;
    border-bottom: 1px solid var(--colorBgHiG) !important;
}
ul[component="chat/search/list"].dropdown-menu {
    background-color: var(--colorBgHiC);
}
.taskbar .navbar-nav li.taskbar-chat a, .taskbar .navbar-nav li.taskbar-chat a:active, .taskbar .navbar-nav li.taskbar-chat a:focus, .taskbar .navbar-nav li.taskbar-chat a:hover {
    background-color: var(--colorHi);
    color: var(--colorHiFg);
    border-color: var(--colorHi);
}


/* Composer */

.composer, .form-control {
    background-color: var(--colorBg);
    color: var(--colorFg);
}
.composer .formatting-bar .formatting-group li {
    color: var(--colorLi2);
}
.composer .formatting-bar .formatting-group li:focus, .composer .formatting-bar .formatting-group li:hover {
    background-color: var(--colorBgHiC);
}
.composer .write {
    color: var(--colorFg);
    background-color: var(--colorBgHiC);
    border-color: var(--colorBgHiG2);
}
.composer .write-container .help-text, .composer .preview-container .help-text {
    color: var(--colorFg2);
    opacity: 0.8;
}
.composer .preview {
    background-color: var(--colorBg);
    border-color: var(--colorBgHiG2);
}
div.preview.well a {
    color: var(--colorLi2);
}
div.preview.well a:hover, div.preview.well a:focus {
    color: var(--colorLi2Hi);
}
.composer.resizable {
    border-top: 1px solid var(--colorFg2);
}


/* Forms */

.form-control {
    border: 1px solid var(--colorBgHiG2);
}
.form-control::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: var(--colorFg2);
    opacity: 0.66;
}
.btn-primary.form-control {
    background-color: var(--colorBtn);
    border-color: var(--colorBtnHi);
    color: var(--colorBtnFg);
}
.btn-primary.form-control:focus, .btn-primary.form-control:hover {
    background-color: var(--colorBtnHi);
}
.bootstrap-tagsinput, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: var(--colorBg);
    color: var(--colorFg);
    border: 1px solid var(--colorBgHiG2);
}
[component="chat/search/list"] li {
    background-color: var(--colorBgHiC);
    color: var(--colorFg);
    border-color: var(--colorBgHiG2);
}
[component="chat/search/list"] {
    border-top-color: transparent !important;
}
.input-group-addon {
    color: var(--colorFg);
    background-color: var(--colorBgHiG);
    border-color: var(--colorBgHiG2);
}


/* Community info */

div.shadow-box1, div.shadow-box2, div.shadow-box3 {
    background-color: var(--colorBgHiG);
    color: var(--colorFg);
}
h1.community-join, .notification {
    color: var(--colorFg) !important;
}
a.green, a.red {
    color: var(--colorLi) !important;
}
button.main.green, button.main.red {
    background-color: var(--colorBtn) !important;
    color: var(--colorBtnFg) !important;
    box-shadow: none !important;
}


/* User card */

.persona-usercard {
    background-color: #414141;
}
.persona-usercard .usercard-name, .persona-usercard .usercard-username, .persona-usercard .usercard-body {
    color: #fbfbfb;
}
.persona-usercard a, .persona-usercard a:active, .persona-usercard a:hover, .persona-usercard a:visited {
    color: #fbfbfb !important;
    text-decoration: none !important;
}
.fab.btn-morph.plus>span>span, .btn-morph {
    background-color: #fbfbfb;
}
.persona-usercard .status {
    opacity: unset !important;
    -webkit-text-stroke: 2px #fbfbfb;
}


/* Unread avatar check */

.category>ul>li.selected .avatar .select .fa-check {
    border-color: var(--colorLi2) !important;
    color: var(--colorLi2) !important;
}
.category>ul>li .avatar .select .fa-check {
    border-color: var(--colorFg) !important;
    color: var(--colorFg) !important;
}


/* Status */

.status.online {
    color: #4caf50;
}
#user-control-list .status.offline {
    color: var(--colorDropFg);
    opacity: 0.66;
}
.status.offline {
    color: var(--colorFg2);
    opacity: 0.66;
}
.status.away {
    color: #ff7518;
}
.status.dnd {
    color: #ef3939;
}


/* Mobile */

.navbar-default {
    border-color: var(--colorFg2);
}
@media (max-width: 767px) {
    .categories>li, .category>ul>li {border-top-color: var(--colorBgHi);}
    .categories>li:last-child, .category>ul>li:last-child {border-bottom-color: var(--colorBgHi);}
}


/* Edit Forum */

.list-group-item {
    color: var(--colorFg);
    background-color: var(--colorBg);
    border-color: var(--colorBgHiG2);
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    color: var(--colorFg);
    background-color: var(--colorBgHiG);
    border-color: var(--colorBgHiG2);
}


/* Voting indicators */

.topic .votes [component="post/upvote"].upvoted, .topic .votes [component="post/downvote"].downvoted {
    background-color: var(--colorHi) !important;
    color: var(--colorHiFg) !important;
}


/* Emoji Picker */

.emoji-dialog {
    border: 1px solid var(--colorBgHiG);
}
.emoji-dialog .top-bar {
    background-color: var(--colorBgHiG);
}
.emoji-tabs .emoji-dialog-search-container button.close {
    background-color: var(--colorBtn);
    color: var(--colorBtnFg);
    border: 1px solid var(--colorBtnHi);
    text-shadow: none;
}
.emoji-tabs .emoji-dialog-search-container button.close:hover {
    background-color: var(--colorBtnHi);
}
.emoji-tabs .nav-tabs, .emoji-tabs .tab-content {
    background-color: var(--colorBg);
}
.nav-tabs>li>a:hover {
    border: 1px solid var(--colorBgHiC);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: var(--colorBgHi);
    color: var(--colorLi);
    border-color: var(--colorBgHi);
}


/* Advanced formatting mod */

.vivaldi-mod-modal-box {
    background: var(--colorBg);
    border-color: var(--colorBgHiG);
    color: var(--colorLi2);
}
.vivaldi-mod-modal-box-control-bar {
    background: var(--colorBgHiG);
    color: var(--colorFg);
}
.dropmarker, .dropmarker:after {
    background: var(--colorLi2);
}
.dropmarker:before {
    border-color: var(--colorLi2);
}
#toolbar-custom ul li:hover {
    background-color: var(--colorBgHiC);
}
