/** Theme Dark-Grey **/

/* Colour variables
  ============================*/

 :root {
    --main-background: #141414;
    --second-background: #1e1e1e;
    --third-background: #282828;
    --fourth-background: #323232;
    --main-font-color: #999;
    --second-font-color: #808080;
    --third-font-color: #607680;
    --fourth-font-color: #607680;
    --highlight-color: #bc302f;
    --second-highlight-color: #607680;
    --button-background: #23bcb1;
    --button-background-hover: #8a9ea8;
    --second-button-background: #167ac6;
    --second-button-background-hover: #44a4ea;
    --link-color: #00acee;
    --link-color-hover: #00acee;
}


html,
body {
    background-size: 10px 10px !important;
    background-color: var(--main-background);
    background-image: linear-gradient(45deg, rgba(10, 10, 10, .5) 25%, transparent 25%, transparent 50%, rgba(10, 10, 10, .5) 50%, rgba(10, 10, 10, .5) 75%, transparent 75%, transparent) !important;
    min-height: 100% !important;
    color: #ddd !important;
}

.body {
    background: var(--main-background) !important;
    overflow-x: hidden;
}



/* Top navigation bar + menus
  ============================*/

nav.navbar.navbar-default.navbar-fixed-top.header,
.navbar-default {
    background-color: var(--main-background) !important;
}

div.menuwrapper {
    background-color: var(--second-background) !important;
}

.menuwrapper {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.50);
}

.vivaldinav ul a.active {
    color: var(--highlight-color) !important;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent !important;
    border-bottom: 2px solid var(--highlight-color) !important;
    color: #e1e0e0 !important;
}

li.divider {
    background-color: #2d2d2d !important;
}

.header .notif-dropdown-link {
    border-top: 1px solid #2d2d2d !important;
}

li a span,
a.mark-all-read,
.dropdown-menu>li>a,
a.mark-all-read:hover {
    color: var(--main-font-color);
}

ul.nav.navbar-nav.navbar-left li a:hover,
ul.dropdown-menu li a:hover,
button.btn.btn-link:hover,
ul.nav.navbar-nav li a:hover {
    background: var(--fourth-background);
    color: var(--main-font-color);
}

ul.nav.navbar-nav.navbar-left li a,
li a span {
    font-weight: normal;
}

input.form-control,
select.form-control,
div.modal-header.ui-draggable-handle {
    background-color: var(--main-background) !important;
    color: var(--main-font-color);
    border: none;
}

a.dropdown-toggle img,
img.user-img,
div.user-icon.user-img {
    border-color: var(--second-background) !important;
}

ul.dropdown-menu,
ul.chat-list.chats-list li,
img.user-img.avatar.avatar-sm.avatar-rounded {
    background-color: #232323 !important;
    border: none;
}

a.dropdown-toggle:focus,
a.dropdown-toggle img:focus,
a.dropdown-toggle:active,
.navbar-default .navbar-nav>.open>a,
navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #232323 !important;
    color: #fd3563 !important;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fd3563 !important;
}

ul.dropdown-menu.dropdown-menu-right a,
ul.dropdown-menu.dropdown-menu-right a:hover {
    color: var(--main-font-color) !important;
}

#user-control-list i.fa.fa-fw.fa-user,
i.fa.fa-fw.fa-cogs,
i.fa.fa-fw.fa-cog,
i.fa.fa-fw.fa-sign-out,
i.fa.fa-trash-o,
i.fa.fa-pencil,
i.fa.fa-heart-o,
i.fa.fa-fw.fa-gear,
i.fa.fa-fw.fa-user-circle,
div.modal-header.ui-draggable-handle h4 {
    color: #e1e0e0;
}

.unread-count:after {
    left: 25px;
    top: 8px;
    font-size: 11px;
    text-align: left;
    border: none;
    color: #c91106;
    background: transparent;
}

.chats-list {
    border-top: 0;
    max-width: 560px !important;
    color: var(--main-font-color) !important;
}

.dropdown-menu {
    padding: 10px;
}

div.message-body p,
span.chat-timestamp.timeago {
    font-weight: 400;
}

textarea.form-control {
    background-color: var(--third-background);
    border: none;
    color: var(--main-font-color);
}

.form-control,
.form-control:focus {
    box-shadow: none;
    border-radius: 4px;
}

li.chat-message.clear {
    border-color: #0f0f0f !important;
}

#advanced-search .panel-body.search-options {
    background-color: #fafafa;
}

h2.title a,
a.search-result-text h4,
span.pull-right.post-preview-footer a {
    color: var(--button-background);
    font-weight: 500;
}

.category>ul>li:not(.unread) h2 a,
.panel-title {
    color: #ddd;
}

.panel-title:hover {
    color: #808080;
}

span.category-children a small {
    font-weight: 400 !important;
    color: #808080;
}

span.category-children a small:hover {
    color: var(--button-background) !important;
}

span.category-children a small {
    font-weight: 500;
}

div.description {
    color: var(--main-font-color) !important;
}

span.input-group-addon {
    background-color: var(--third-background);
    color: var(--main-font-color);
    border-color: var(--third-background);
}

.categories>li .content .icon,
.category>ul>li .content .icon {
    border-radius: 50%;
}

.topic .posts>li a {
    text-decoration: none;
    color: var(--button-background);
}

.topic [component="post/replies"] {
    margin-top: 28px;
}

div.shadow-box1, div.shadow-box2 {
    background-color: var(--main-background);
}

h1.community-join {
    color: #ddd !important;
}


/* Removing unnecessary/misleading hover effect; the rows aren't clickable across their areas */

.categories>li:hover,
.category>ul>li:hover {
    background-color: transparent !important;
}

#content {
    background: var(--second-background) !important;
    padding: 25px !important;
    border-radius: 4px !important;
    border: 15px solid var(--second-background);
    -webkit-box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.5);
}

.categories>li,
.category>ul>li {
    border-bottom: 1px solid #0f0f0f;
}

.categories>li:last-of-type,
.category>ul>li:last-of-type {
    border-bottom: 1px solid var(--second-background);
}

.panel-default,
hr {
    border: none;
}

#advanced-search .panel-body.search-options,
div.panel-body.search-options.collapse.in,
div.panel-heading,
.alert-window .alert.alert-warning, .alert-window .alert.alert-danger, .alert-window .alert.alert-success, .alert-window .alert.alert-info,
.well {
    background-color: var(--second-background) !important;
    color: var(--main-font-color);
    border: none !important;
}

div.bootstrap-tagsinput,
div.panel-body {
    background-color: var(--main-background);
    border: none !important;
}

a.btn.btn-xs.btn-default.hidden-xs,
span.tag {
    background-color: var(--fourth-background) !important;
    border-color: var(--fourth-background) !important;
    border-radius: 1px;
}

li[component="post"] {
    background: var(--main-background);
    position: relative !important;
    padding: 10px 10px !important;
    margin-bottom: 10px !important;
    border-radius: 4px !important;
}

blockquote {
    background: var(--second-background);
    border-color: #000;
}

code {
    background-color: transparent;
}

div.post-signature {
    border-color: var(--fourth-background) !important;
}

div.modal-header,
div.modal-body,
div.modal-footer {
    background-color: var(--second-background);
    border: none;
}

.composer,
.composer .title-container .title {
    background-color: var(--second-background);
    color: var(--main-font-color);
}

textarea.write,
div.preview.well {
    background-color: #0f0f0f;
    border: none !important;
}

ul.formatting-group li:hover {
    background-color: var(--button-background) !important;
    border-radius: 2px;
}



/* Buttons
  ============================*/

a.btn.btn-primary {
    background: var(--second-button-background);
    border-radius: 4px;
    border: none !important;
}

a.btn.btn-primary:hover, a.btn.btn-primary:focus {
    background: var(--second-button-background-hover) !important;
}

button.btn.btn-primary,
.topic .posts .content .toggle {
    background: var(--button-background);
    border-radius: 4px;
    border: none !important;
}

button.btn.btn-primary:hover {
    background: #27d3c7;
}

a.btn.btn-default {
    background: var(--fourth-background);
    border-radius: 4px;
    border: none !important;
    border-right: 1px solid var(--second-background);
    color: #fff;
    font-weight: 200;
}

a.btn.btn-default:hover, a.btn.btn-default:focus {
    background: #464646 !important;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: 0 !important;
}

button.btn.btn-info.dropdown-toggle {
    background: var(--fourth-background);
    border-radius: 0 4px 4px 0;
    border: none;
}

button.btn.btn-default {
    background: var(--fourth-background);
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 200;
}

button.btn.btn-info.dropdown-toggle:hover,
button.btn.btn-default:hover, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background: #464646;
    color: #ddd;
}

li.previous.pull-left a {
    background-color: #111;
    border-radius: 4px 0 0 4px !important;
    border: 1px solid var(--third-background);
    color: var(--main-font-color);
}

li.next.pull-right a {
    background-color: #111;
    border-radius: 0 4px 4px 0 !important;
    border: 1px solid var(--third-background);
    color: var(--main-font-color);
}

li.previous.pull-left.disabled,
li.next.pull-right.disabled {
    fill: #222 !important;
}

a.btn.btn-primary:hover,
li.next.pull-right a:hover,
li.previous.pull-left a:hover,
li.page a:hover {
    background: var(--button-background);
    color: var(--second-background);
}

li.page.active a,
li.page.active a:hover {
    background-color: var(--button-background);
    border: 1px solid var(--third-background);
}

li.page a {
    color: var(--main-font-color);
    background-color: #111;
    border: 1px solid var(--third-background);
}

li.page a:hover {
    background-color: var(--button-background);
    border: 1px solid var(--third-background);
}

.close {
    color: #f5f5f5 !important;
    text-shadow: none;
    font-size: 18px;
}

small.pull-right a {
    color: var(--button-background) !important;
}

i.fa.fa-pencil-square.pointer.edit-icon,
.breadcrumb .fa {
    color: var(--main-font-color);
}

.breadcrumb .fa:hover {
    color: #ff8000;
}

a.btn-register,
a.btn-login {
    background: transparent;
    border: none;
}

a.btn-register:hover, a.btn-register:focus,
a.btn-login:hover, a.btn-login:focus {
    background: var(--fourth-background) !important;
}


/* Vote indicator
  ============================*/

.votes a {
    background-color: var(--fourth-background);
}

.upvoted i.fa.fa-chevron-up,
.downvoted i.fa.fa-chevron-down {
    color: #f5f5f5 !important;
}

.upvoted {
    background-color: #00b75a !important;
}

.downvoted {
    background-color: #fd3563 !important;
}


/* Message composer + profile button */

.taskbar .navbar-nav li.taskbar-composer a,
.taskbar .navbar-nav li.taskbar-composer a:active,
.taskbar .navbar-nav li.taskbar-composer a:focus,
.taskbar .navbar-nav li.taskbar-composer a:hover,
button.fab.dropdown-toggle {
    background: var(--fourth-background);
    opacity: .95;
}

.taskbar .navbar-nav li a {
    padding: 5px 15px;
}


/* Composer tooltip
  ============================*/

.taskbar-composer::after {
    position: absolute;
    text-align: center;
    top: -4ex;
    left: 0;
    background: var(--second-background);
    border-radius: 2px;
    color: #eee;
    font-weight: 200;
    box-shadow: .3em .3em .3em rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 0;
    transition: opacity 2s cubic-bezier(0.95, -0.25, 0.05, 1.25);
}

.taskbar-composer:hover::after {
    content: "Restore";
    opacity: 0.9;
    padding: 0.2em 0.5em;
}

.taskbar-composer.active:hover::after {
    content: "Hide";
}


/* Logo */

.header .forum-logo {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 150px !important;
    padding-left: 150px;
    background: url('chrome-extension://__MSG_@@extension_id__/themes/img/logo-white.png') no-repeat;
}


/** Additions and fixes (messed with by luetage) **/

.posts-list .posts-list-item .topic-title, a {
    color: var(--link-color);
}
.posts-list .posts-list-item .topic-title:hover, a:hover {
    color: var(--link-color-hover);
}
.header .notification-list li.unread, .slideout-menu .notification-list li.unread {
    background-color: var(--main-background);
}
.header .notification-list li .mark-read:hover, .slideout-menu .notification-list li .mark-read:hover {
    color: #777;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: var(--fourth-background);
}
.status.offline {
    color: var(--main-font-color);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: var(--third-background);
}
.table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: var(--third-background);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top-color: var(--third-background);
}
.table-hover>tbody>tr:hover {
    background-color: var(--main-background);
}
li[data-nid^="new_post"]::before, li[data-nid^="upvote"]::before, li[data-nid^="follow"]::before, li[data-nid^="move"]::before, li[data-nid^="chat"]::before, li[data-nid^="tid"]::before {
    color: var(--main-font-color) !important;
}
pre {
    color: var(--main-font-color);
    background-color: var(--fourth-background);
    border-color: var(--fourth-background);
}
.account .profile .profile-meta strong {
    color: #ddd;
}
.copy-all-code-button {
    right: 35px;
}

/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #121212 !important;
    color: #e6e1dc;
  }

  .hljs-comment,
  .hljs-quote {
    color: #bc9458;
    font-style: italic;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #c26230;
  }

  .hljs-string,
  .hljs-number,
  .hljs-regexp,
  .hljs-variable,
  .hljs-template-variable {
    color: #a5c261;
  }

  .hljs-subst {
    color: #519f50;
  }

  .hljs-tag,
  .hljs-name {
    color: #e8bf6a;
  }

  .hljs-type {
    color: #da4939;
  }


  .hljs-symbol,
  .hljs-bullet,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-attr,
  .hljs-link {
    color: #6d9cbe;
  }

  .hljs-params {
    color: #d0d0ff;
  }

  .hljs-attribute {
    color: #cda869;
  }

  .hljs-meta {
    color: #9b859d;
  }

  .hljs-title,
  .hljs-section {
    color: #ffc66d;
  }

  .hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }

  .hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
    display: inline-block;
    width: 100%;
  }

  .hljs-selector-class {
    color: #9b703f;
  }

  .hljs-selector-id {
    color: #8b98ab;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }
