/** Theme Light-Grey **/

/* Colour variables */

:root {
    --main-bg: hsl(220, 9%, 94%);
    --main-fg: hsl(0, 0%, 20%);
    --header-bg: hsl(210, 3%, 13%);
    --header-fg: hsl(0, 0%, 50%);;
    --nav-bg: hsl(210, 2%, 16%);
    --nav-fg: hsl(0, 0%, 70%);
    --menu-bg: hsl(220, 9%, 96%);
    --menu-highlight: hsl(210, 3%, 90%);
    --menu-fg: hsl(0, 0%, 50%);
    --second-bg: hsl(0, 0%, 100%);
    --second-fg: hsl(0, 0%, 60%);
    --third-fg: hsl(176, 69%, 40%);
    --accent-color: hsl(359, 84%, 53%);
    --button-bg: hsl(212, 88%, 69%);
    --button-hover: hsl(206, 80%, 43%);
    --button-fg: hsl(0, 0%, 100%);
    --second-button-bg: hsl(176, 69%, 40%);
    --second-button-hover: hsl(170, 59%, 40%);
    --link-color: hsl(283, 58%, 63%);
    --second-link-color: hsl(197, 100%, 47%);
    --grey: hsl(0, 0%, 76%);
}

* {
    text-decoration: none !important;
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg);
    color: var(--main-fg) !important;
}

.body {
    background: var(--main-bg) !important;
    overflow-x: hidden;
}


/* Logo */

#vivaldilogo img {
    display: none !important;
}

#vivaldilogo {
    background: url('https://raw.githubusercontent.com/sjudenim/Vivaldi-Forum-Mod/master/themes/img/logo-white.png') no-repeat;
    height: 30px !important;
    width: 150px !important;
}


/*** Header ***/

#vivaldiheader {
    background-color: var(--header-bg) !important;
    margin-top: 0;
    height: 50px;
}

#vivaldiheader>.row {
    padding: 13px 15px;
}

#vivaldimenu a.has-submenu:hover {
    color: var(--accent-color);
    margin-top: -8px;
    padding-top: 13px;
    height: 50px;
}

#vivaldiheader a,
#vivaldiheader a:active, 
#vivaldiheader a:focus, 
#vivaldiheader a:visited {
    color: var(--header-fg);
}

#vivaldimenu a.current, #vivaldiheader a.current:hover {
    color: var(--accent-color);
}

a.dropdown-toggle:focus,
a.dropdown-toggle img:focus,
a.dropdown-toggle:active,
.navbar-default .navbar-nav>.open>a,
navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent !important;
    color: var(--accent-color) !important;
}

a.btn-register, a.btn-login {
    background: transparent;
    border: none;
    margin-top: -5px;
    padding-top: 10px !important;
    height: 50px;
}

a.btn-register:hover, a.btn-register:focus,
a.btn-login:hover, a.btn-login:focus {
    background-color: var(--menu-highlight) !important;
    color: var(--accent-color) !important;
}

.menu-section-list a:hover, .slideout-menu .btn-login:hover, .slideout-menu .btn-register:hover {
    background: var(--menu-highlight) !important;
}

ul.nav.navbar-nav.navbar-left li a,
li a span {
    font-weight: normal;
}

a.dropdown-toggle:focus,
a.dropdown-toggle img:focus,
a.dropdown-toggle:active,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: var(--accent-color) !important;
}

#vivaldimenu a .sub-arrow {display: none}

.unread-count:after {
    position: absolute;
    left: 23px;
    top: 10px;
    font-size: .8em;
    text-align: center;
    border: 0;
    color: var(--accent-color);
    font-weight: 400;
    background: transparent;
    padding: 1px 2px;
}


/* Header dropdown menus */

#vivaldimenu .hov {
    padding-bottom: 0;
    height: 30px;
}

#vivaldimenu .hov:hover:after {
    border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) var(--menu-bg) hsla(0, 0%, 0%, 0);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    bottom: -12px;
    content: '';
    height: 0;
    left: 14px;
    position: absolute;
    width: 0;
}

#vivaldimenu ul {
    background-color: var(--menu-bg) !important;
    border: 2px solid var(--menu-bg);
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
    margin-top: 2px;
}

#vivaldimenu ul li {
    border: none !important;
    text-align: left;
    color: var(--menu-fg)
}

#vivaldimenu ul a {
    color: var(--menu-fg);
}

#vivaldimenu ul a:hover {
    background: var(--menu-highlight);
    color: var(--menu-fg);
    border-radius: 0 !important;
}

#logged-in-menu .dropdown-menu:before {
    border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) var(--menu-bg) hsla(0, 0%, 0%, 0);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    top: -10px;
    content: '';
    height: 0;
    right: 14px;
    position: absolute;
    width: 0;
}

.dropdown-menu, #logged-in-menu .dropdown-menu {
    background-color: var(--menu-bg);
    border: 2px solid var(--menu-bg);
    margin-top: -1px;
    min-width: 180px;
    padding: 5px 0 0 !important;
}

.chats-list>li .main-avatar .avatar,
.chats-list>li .avatar-placeholder {
    height: 60px;
    width: 60px;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

ul.chat-list.chats-list li, img.user-img.avatar.avatar-sm.avatar-rounded {
    background-color: var(--menu-bg) !important;
    border-radius: 50%;
    margin-left: 5px;
}

.header .chat-list>li, .slideout-menu .chat-list>li {
    width: 400px;
    padding-bottom: 0;
    margin: 0;
}

.header .chat-list>li, .slideout-menu .chat-list>li {
    margin-top: 8px;
}

.header .chat-list>li:not(:last-child), .slideout-menu .chat-list>li:not(:last-child) {
    border-bottom: 0;
}

.header .notification-list li.unread, .slideout-menu .notification-list li.unread {
    background-color: var(--menu-highlight);
}

li a span,
a.mark-all-read,
.dropdown-menu>li>a {
    color: var(--second-fg);
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
button.btn.btn-link:hover {
    background: var(--menu-highlight);
    color: var(--second-fg);
}

.dropdown-menu {
    margin: 0;
}

.dropdown-menu>.top-divider {
    margin: -5px;
}

.dropdown-menu>.bottom-divider {
    margin: 0;
}

.header .notif-dropdown-link {
    border-top: 1px solid hsla(0, 0%, 40%, .2);
}

li.divider {
    background-color: hsla(0, 0%, 40%, .2) !important;
    margin: 5px 10px !important;
}

.dropdown-menu>li>a {
    padding: 1px 13px;
    line-height: 2.5;
}

#vivaldilogin i.fa {
    font-size: 14px;
    margin-top: -3px;
    padding-right: 5px;
}

.status.offline {
    color: hsla(0, 0%, 50%, .3);
}


/** Submenu **/

#submenu {
    background-color: var(--nav-bg) !important;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
    top: 50px !important;
    height: 50px;
}

#submenu li, #submenu ul {
    height: 50px;
    line-height: 50px;
}

#submenu a {
    color: var(--nav-fg) !important;
}

#submenu li.active>a {
    color: var(--accent-color);
    background-color: var(--nav-bg);
}

#submenu a:focus, #submenu a:hover, #submenu li.active>a:hover {
    background-color: var(--menu-highlight);
    color: var(--accent-color) !important;
}


/*** Content ***/

#content {
    margin-top: .5%;
    background: var(--second-bg) !important;
    border-radius: 0;
    border: 10px solid var(--second-bg);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .05) !important;
    padding: 25px 50px 0 !important;
}

.well {
    background: var(--second-bg);
    border: 0;
    box-shadow: none
}

.categories>li .content .icon,
.category>ul>li .content .icon {
    border-radius: 50%;
}

.categories>li,
.category>ul>li {
    border-bottom: 1px solid var(--main-bg);
    padding-bottom: 20px;
}

.categories>li:hover,
.category>ul>li:hover {
    background-color: transparent !important;
}

.categories>li:last-of-type,
.category>ul>li:last-of-type {
    border-bottom: 1px solid var(--second-bg);
    padding-bottom: 25px;
}

.categories>li .content h2, .category>ul>li .content h2 {
    font-size: 1.5rem;
}

h2.title a,
a.search-result-text h4,
span.pull-right.post-preview-footer a {
    color: var(--third-fg);
    font-weight: 500;
}

.categories .description, .category .description, .subcategory .description {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--main-fg);
    margin-top: 5px;
    min-height: 25px;
}

div.description p {
    color: var(--main-fg);
}

span.category-children a small {
    font-weight: 400 !important;
    color: var(--header-fg);
}

span.category-children a small:hover {
    color: var(--accent-color) !important;
}

span.category-children a small {
    font-weight: 500;
}

div.description {
    color: var(--second-fg) !important;
}

li a span:hover {
    color: var(--second-fg)
}

.stats small {
    color: var(--second-fg);
}

span.timeago, small.timeago,
.breadcrumb>.active,
.topic h1 .topic-title,
.posts-list .posts-list-item .topic-title,
.topic .posts>li a,
a {
    color: var(--third-fg);
}

.topic .posts>li a:hover {
    color: var(--accent-color);
}

.topic [component="post/replies"] {
	margin-top: 28px;
}

li[component="post"] {
    background: var(--second-bg);
    position: relative !important;
    padding: 10px 10px !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid var(--main-bg)
}

li[component="post"]:last-of-type {
    border-bottom: none;
}

blockquote {
    background-color: var(--main-bg);
}

.tooltip-inner {
    max-width: 200px;
    padding: 8px;
    color: var(--grey);
    background-color: var(--header-bg);

}

div.message-body p,
span.chat-timestamp.timeago {
    font-weight: 400;
}

#vivaldifooter a {
    color: var(--third-fg)
}

/*.dropdown-menu-right:after {
    border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) var(--menu-bg) hsla(0, 0%, 0%, 0);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    bottom: -10px;
    content: '';
    height: 0;
    right: 14px;
    position: absolute;
    width: 0;
    z-index: 999999;
}
*/


/* Search page */

.form-control,
.form-control:focus,
input.form-control, select.form-control,
.search .post-search-item .bootstrap-tagsinput {
    background-color: var(--main-bg);
    color: var(--nav-fg);
    border: none;
    border-radius: 2px;
    box-shadow: none;
}

#advanced-search .panel-body.search-options,
div.panel-body.search-options.collapse.in,
div.panel-heading {
    background-color: var(--second-bg);
    border: none;
}

div.content p code {
    background-color: transparent
}

.panel-default>.panel-heading,
div.panel-body {
    background: var(--second-bg)
}


/** Code box **/
pre {
    background-color: var(--header-bg) !important;
    border: 0;
    border-radius: 2px;
}

pre code {
    background-color: var(--header-bg) !important;
}

code {
    color: var(--accent-color);
    background: transparent
}

div.content pre code {
    color: var(--second-fg)
}


/* Code mark up */

.hljs-keyword, .hljs-selector-tag {
    color: var(--button-bg);
}

.hljs-title, .hljs-doctag, .hljs-type, .hljs-attr, .hljs-built_in, .hljs-builtin-name, .hljs-params {
    color: var(--link-color)
}

.hljs-comment, .hljs-quote {
    color: var(--header-fg);
    font-style: italic;
}

.hljs-attribute, .hljs-subst {
    color: var(--button-hover);
}

.hljs, .hljs-number {
    color: var(--second-fg);
}

.hljs-meta {
    color: var(--accent-color);
}


/** Message composer + profile button **/

.composer,
.composer .title-container .title {
    background-color: var(--second-bg);
    color: var(--third-fg);
}

.composer.resizable {
    box-shadow: 0 5px 15px rgba(0,0,0,.8);
}

.taskbar .navbar-nav li.taskbar-composer a,
.taskbar .navbar-nav li.taskbar-composer a:active,
.taskbar .navbar-nav li.taskbar-composer a:focus,
.taskbar .navbar-nav li.taskbar-composer a:hover,
button.fab.dropdown-toggle {
    background: #323232;
    opacity: .95;
}

.taskbar .navbar-nav li a {
    padding: 5px 15px;
}

.composer .formatting-bar .formatting-group li {
    color: var(--second-fg)
}

.composer .preview, .composer .write,
div.preview.well {
    background-color: var(--main-bg);
    border: none !important;
}

textarea.write, div.preview.well {
    color: var(--main-fg)
}

/* Composer tooltip */

.taskbar-composer::after {
    position: absolute;
    text-align: center;
    top: -4ex;
    left: 0;
    background: var(--second-bg);
    border-radius: 2px;
    color: #eee;
    font-weight: 200;
    box-shadow: .3em .3em .3em rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 0;
    transition: opacity 2s cubic-bezier(0.95, -0.25, 0.05, 1.25);
}

.taskbar-composer:hover::after {
    content: "Restore";
    opacity: 0.9;
    padding: 0.2em 0.5em;
}

.taskbar-composer.active:hover::after {
    content: "Hide";
}

/* Emoji picker */

.emoji-dialog .top-bar {
    height: 0
}

.emoji-tabs .emoji-dialog-search-container,
.emoji-tabs .emoji-dialog-search-container .emoji-dialog-search {
    background: var(--header-bg)
}

.emoji-tabs .emoji-dialog-search-container button.close {
    background: var(--header-bg);
    color: var(--header-fg) !important;
    border: none;
    border-radius: 0;
}

.emoji-tabs .emoji-dialog-search-container button.close:hover {
    background: var(--header-bg);
    color: var(--accent-color) !important;
}

.emoji-tabs .nav-tabs, .emoji-tabs .nav-tabs:hover {
    background: var(--nav-bg);
    color: var(--nav-fg) !important;
    border: 0
}

.nav-tabs>li>a {
    color: var(--second-fg);
    height: 43px
}

.nav-tabs>li>a:hover {
    background-color: var(--menu-highlight) !important;
    color: var(--accent-color);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: var(--third-fg);
    background-color: var(--second-bg) !important;
    border: 0;
    height: 43px
}


/** Chat **/

.chat-modal .chat-content li.chat-message .chat-user a, .expanded-chat .chat-content li.chat-message .chat-user a {
    color: var(--third-fg);
}

.chats-list {
    border-top: 0;
    max-width: 560px !important;
    color: var(--second-fg) !important;
}

.chats-list>li {
    background: var(--main-bg);
    border-color: var(--second-bg);
}

.chat-modal [component="chat/composer"] [component="chat/input"], .chats-full [component="chat/composer"] [component="chat/input"] {
    border:1px solid var(--maing-bg);
    background: var(--main-bg) !important;
    padding: 8px; 
}

.chat-modal [component="chat/composer"], .chats-full [component="chat/composer"] {
    background: var(--main-bg)
}

.chat-modal [component="chat/composer"] [data-action=send], .chats-full [component="chat/composer"] [data-action=send],
.chat-modal [component="chat/composer"] [data-action=send]:hover, .chat-modal [component="chat/composer"] [data-action=send]:focus,
.chats-full [component="chat/composer"] [data-action=send]:hover, .chats-full [component="chat/composer"] [data-action=send]:focus{
    border-radius: 8px;
    background: transparent !important;
    margin: 25px 5px;
}

.fa-paper-plane:before, .fa-send:before {
    -webkit-text-fill-color: var(--second-fg)
}

.fa-paper-plane:hover:before, .fa-send:hover:before {
    -webkit-text-fill-color: var(--second-button-bg)
}

.chat-modal .chat-content li.chat-message[data-break=true], .expanded-chat .chat-content li.chat-message[data-break=true] {
    border-top: 1px solid var(--main-bg);
}

textarea.form-control, textarea.form-control:focus {
    background: var(--second-bg);
    border: none;
    color: var(--main-fg);
}

.bg-info {
    background: var(--second-bg) !important;
}

ul.chat-list.chats-list li,
img.user-img.avatar.avatar-sm.avatar-rounded {
    border: none;
}

.modal-header, .modal-header.ui-draggable-handle,
.chat-modal [component="chat/header"], .chats-full [component="chat/header"]{
	background-color: var(--header-bg) !important;
    border:0
}

.ui-resizable-handle:active {
    background: transparent;
}

div.modal-body,
div.modal-footer {
    background-color: var(--second-bg);
    border: none;
}

.close, .chat-modal .close {
    text-shadow: none;
    font-size: 18px;
    color: var(--header-fg);
    opacity: .8
}

.close:hover, .chat-modal .close:hover {
    color: var(--accent-color);
    opacity: 1
}

div.modal-body {
    background-color: var(--second-bg);
    padding: 0;
}

li.chat-message.clear {
    border-color: var(--main-bg);
}

.chat-modal [component="chat/nav-wrapper"], .chats-full [component="chat/nav-wrapper"] {
    box-shadow: none;
}

.notifications-list li:nth-child(even), .notifications-list li:nth-child(odd) {
    background: var(--second-bg);
}

.notifications-list li.unread {
    background: var(--main-bg);
}

.chat-modal [component="chat/nav-wrapper"] [component="chat/search/list"] li, .chats-full [component="chat/nav-wrapper"] [component="chat/search/list"] li,
.chat-modal [component="chat/nav-wrapper"] [component="chat/search/list"], .chats-full [component="chat/nav-wrapper"] [component="chat/search/list"],
.chat-modal [component="chat/nav-wrapper"] .chat-search input, .chats-full [component="chat/nav-wrapper"] .chat-search input{
    background: var(--menu-bg);
    border: 0;
}



/*** Buttons ***/

.btn.btn-primary {
    background: var(--button-bg);
    border-radius: 4px;
    border: none;
}

.btn.btn-default,
.topic .posts .content .toggle,
.btn-primary:active,
.btn-primary:focus {
    background-color: var(--button-bg);
    border-radius: 4px;
    border: none;
    color: var(--button-fg);
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-primary:hover {
    background: var(--button-hover) !important;
    color: var(--button-fg);
}

button.btn.btn-default.dropdown-toggle {
    border: 1px solid var(--second-bg);
}


button.btn.btn-info.dropdown-toggle {
    background: var(--button-bg);
    border-radius: 0 4px 4px 0;
    border: 0;
}

button.btn.btn-info.dropdown-toggle:hover {
    background: var(--button-hover);
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-right: 1px solid var(--second-bg);
}

i.fa.fa-pencil-square.pointer.edit-icon,
.breadcrumb .fa {
    color: var(--grey);
}

.breadcrumb .fa:hover {
    color: hsl(32, 88%, 56%);
}

a.btn.btn-xs.btn-default.hidden-xs,
span.tag {
    background-color: var(--grey) !important;
    border-radius: 25px;
    padding: 3px 8px !important;
    color: var(--button-fg);
    font-size: .8em;
}

a.btn.btn-xs.btn-default.hidden-xs:hover {
    background-color: var(--second-button-bg) !important;
}

#user-control-list i.fa.fa-fw.fa-user,
i.fa.fa-fw.fa-cogs,
i.fa.fa-fw.fa-cog,
i.fa.fa-fw.fa-sign-out,
i.fa.fa-trash-o,
i.fa.fa-pencil,
i.fa.fa-heart-o,
i.fa.fa-fw.fa-gear,
i.fa.fa-fw.fa-user-circle,
div.modal-header.ui-draggable-handle h4 {
    color: var(--second-fg);
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: 0 !important;
}

li.previous.pull-left a {
    background-color: var(--main-bg);
    border-radius: 4px 0 0 4px !important;
    border: 1px solid var(--second-bg);
    color: var(--second-fg);
}

li.next.pull-right a {
    background-color: var(--main-bg);
    border-radius: 0 4px 4px 0 !important;
    border: 1px solid var(--second-bg);
    color: var(--second-fg);
}

li.previous.pull-left.disabled,
li.next.pull-right.disabled {
    fill: var(--grey) !important;
}

a.btn.btn-primary:hover,
li.next.pull-right a:hover,
li.previous.pull-left a:hover,
li.page a:hover {
    background: var(--button-bg);
    color: #fff;
}

li.page.active a, li.page.active a:hover {
    background-color: var(--button-bg);
    border: 1px solid var(--second-bg);
}

li.page a {
    color: var(--second-fg);
    background-color: var(--main-bg);
    border: 1px solid var(--second-bg);
}

li.page a:hover {
    color: #fff;
    background-color: var(--button-bg);
    border: 1px solid var(--second-bg);
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    border-color: var(--second-bg)
}

small.pull-right a {
    color: var(--third-fg) !important;
}

small.pull-right a:hover {
    color: var(--accent-color) !important;
}

#mobile-menu:hover, #mobile-menu:focus, #mobile-menu:active {
    background: var(--menu-highlight)
}

a.dropdown-toggle img,
img.user-img,
div.user-icon.user-img {
    border-color: var(--second-bg) !important;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: var(--accent-color) !important;
}

ul.dropdown-menu.dropdown-menu-right a,
ul.dropdown-menu.dropdown-menu-right a:hover {
    color: var(--second-fg) !important;
}


/* Vote indicator */

.votes a {
    background-color: var(--grey);
}

.votes a:hover {
    background-color: hsl(0, 0%, 65%);
}

span.votes a, .upvoted i.fa.fa-chevron-up, .downvoted i.fa.fa-chevron-down,
span.votes a:hover, .upvoted i.fa.fa-chevron-up:hover, .downvoted i.fa.fa-chevron-down:hover {
    color: var(--second-bg) !important;
}

.topic .votes [component="post/upvote"].upvoted {
    background-color: hsl(170, 100%, 30%) !important
}

.topic .votes [component="post/downvote"].downvoted {
    background-color: hsl(346, 98%, 60%) !important;
}



/* Hiding stuff  */

.menuwrapper .tooltip, #header-menu .tooltip, .account .cover .avatar-wrapper .tooltip {
    display: none !important;
}

#vivaldimenu > li:nth-child(1), #vivaldimenu > li:nth-child(2) {
    display: none;
}


/****** This code still needs to be addressed ********/

.category>ul>li:not(.unread) h2 a,
.panel-title {
    color: var(--header-fg);
}

.panel-title:hover {
    color: var(--accent-color);
}

span.input-group-addon {
    background-color: var(--second-bg);
    color: var(--second-fg);
    border-color: var(--second-bg);
}

.panel-default, hr {border: none}

.alert-window .alert.alert-warning, .alert-window .alert.alert-danger, .alert-window .alert.alert-success, .alert-window .alert.alert-info {
    background-color: var(--main-bg) !important;
    color: var(--second-fg);
    border: none !important;
}

div.post-signature {
    border-color: var(--main-bg) !important;
}

ul.formatting-group li:hover {
    background-color: var(--grey) !important;
    color: var(--button-fg) !important;
    border-radius: 2px;
}

.posts-list .posts-list-item .topic-title:hover, a:hover {
    color: var(--second-link-color);
}
.header .notification-list li.unread, .slideout-menu .notification-list li.unread {
    background-color: var(--header-bg);
}
.header .notification-list li .mark-read:hover, .slideout-menu .notification-list li .mark-read:hover {
    color: var(--menu-fg);
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: var(--main-bg);
}

li[data-nid^="new_post"]::before, li[data-nid^="upvote"]::before, li[data-nid^="follow"]::before, li[data-nid^="move"]::before, li[data-nid^="chat"]::before, li[data-nid^="tid"]::before {
    color: var(--second-fg) !important;
}

.vivaldi-mod-modal-box {
    background: var(--main-bg);
    border-color: hsl(0, 0%, 88%);
    color: hsl(0, 0%, 20%);
}

.vivaldi-mod-modal-box-control-bar {
    background: hsl(0, 0%, 88%);
    color: var(--second-fg);
}

.dropmarker, .dropmarker:after {
    background: var(--main-fg);
}

.dropmarker:before {
    border-color: var(--main-fg);
}

#toolbar-custom ul li:hover {
    background-color: hsl(0, 0%, 71%);
    color: var(--button-fg);
}

.account .profile .profile-meta strong {
    color: var(--second-fg);
}

.copy-all-code-button {
    right: 35px;
}
