html,
body {
    background-size: 10px 10px !important;
    background-color: #f0f0f0;
    background-image: linear-gradient(45deg, rgba(250, 250, 250, .5) 25%, transparent 25%, transparent 50%, rgba(250, 250, 250, .5) 50%, rgba(250, 250, 250, .5) 75%, transparent 75%, transparent) !important;
    min-height: 100% !important;
    height: 100% !important;
    color: #454545 !important;
}

.body {
    background: #f0f0f0 !important;
    overflow-x: hidden;
}


/* Top navigation bar + menus */

nav.navbar.navbar-default.navbar-fixed-top.header,
.navbar-default {
    background-color: #141414 !important;
}

div.menuwrapper {
    background-color: #1e1e1e !important;
}

.menuwrapper {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.50);
}

.vivaldinav ul a.active {
    color: #bc302f !important;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent !important;
    border-bottom: 3px solid #23bcb1 !important;
    color: #e1e0e0 !important;
}

li.divider {
    background-color: #2d2d2d !important;
}

.header .notif-dropdown-link {
    border-top: 1px solid #2d2d2d !important;
}

li a span,
a.mark-all-read,
.dropdown-menu>li>a,
a.mark-all-read:hover {
    color: #999;
}

ul.nav.navbar-nav.navbar-left li a:hover,
ul.dropdown-menu li a:hover,
button.btn.btn-link:hover,
ul.nav.navbar-nav li a:hover {
    background: #323232;
    color: #999;
}

ul.nav.navbar-nav.navbar-left li a,
li a span {
    font-weight: normal;
}

div.modal-header.ui-draggable-handle {
	background-color: #141414 !important;
}

input.form-control,
select.form-control {
	background-color: #fff !important;
	color: #999;
	border: none;
}

a.dropdown-toggle img,
img.user-img,
div.user-icon.user-img {
    border-color: #1e1e1e !important;
}

ul.dropdown-menu,
ul.chat-list.chats-list li,
img.user-img.avatar.avatar-sm.avatar-rounded {
    background-color: #232323 !important;
    border: none;
}

a.dropdown-toggle:focus,
a.dropdown-toggle img:focus,
a.dropdown-toggle:active,
.navbar-default .navbar-nav>.open>a,
navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #232323 !important;
    color: #fd3563 !important;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fd3563 !important;
}

ul.dropdown-menu.dropdown-menu-right a,
ul.dropdown-menu.dropdown-menu-right a:hover {
    color: #999 !important;
}

#user-control-list i.fa.fa-fw.fa-user,
i.fa.fa-fw.fa-cogs,
i.fa.fa-fw.fa-cog,
i.fa.fa-fw.fa-sign-out,
i.fa.fa-trash-o,
i.fa.fa-pencil,
i.fa.fa-heart-o,
i.fa.fa-fw.fa-gear,
i.fa.fa-fw.fa-user-circle,
div.modal-header.ui-draggable-handle h4 {
    color: #e1e0e0;
}

.unread-count:after {
    left: 25px;
    top: 8px;
    font-size: 11px;
    text-align: left;
    border: none;
    color: #c91106;
    background: transparent;
}

.chats-list {
    border-top: 0;
    max-width: 560px !important;
    color: #999 !important;
}

.dropdown-menu {
    padding: 10px;
}

div.message-body p,
span.chat-timestamp.timeago {
    font-weight: 400;
}

textarea.form-control {
    background: #eee;
    border: none;
    color: #999;
}

.form-control,
.form-control:focus {
    box-shadow: none;
    border-radius: 4px;
}

div.modal-body {
    background-color: #1e1e1e;
    padding: 5px;
}

li.chat-message.clear {
    border-color: #ddd !important;
}

#advanced-search .panel-body.search-options {
    background-color: #fafafa;
}

h2.title a,
a.search-result-text h4,
span.pull-right.post-preview-footer a {
    color: #23bcb1;
    font-weight: 500;
}

.category>ul>li:not(.unread) h2 a,
.panel-title {
    color: #808080;
}

.panel-title:hover {
    color: #23bcb1;
}

span.category-children a small {
    font-weight: 400 !important;
    color: #808080;
}

span.category-children a small:hover {
    color: #23bcb1 !important;
}

span.category-children a small {
    font-weight: 500;
}

div.description {
    color: #999 !important;
}

span.input-group-addon {
    background-color: #fafafa;
    color: #999;
    border-color: #fafafa;
}

.categories>li .content .icon,
.category>ul>li .content .icon {
    border-radius: 50%;
}

.topic .posts>li a {
    text-decoration: none;
    color: #23bcb1;
}

.topic [component="post/replies"] {
	margin-top: 28px;
}


/* Removing unnecessary/misleading hover effect; the rows aren't clickable across their areas */

.categories>li:hover,
.category>ul>li:hover {
    background-color: transparent !important;
}


#content {
    background: #fafafa !important;
    padding: 15px !important;
    border-radius: 4px !important;
    border: 0px solid #fafafa;
    -webkit-box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.1);
}


/* Alternating row color */

.categories>li:nth-child(even),
.category>ul>li:nth-child(even) {
    background: #f0f0f0 !important;
}

.panel-default,
hr {
    border: none;
}

#advanced-search .panel-body.search-options,
div.panel-body.search-options.collapse.in,
div.panel-heading,
.alert-window .alert.alert-warning, .alert-window .alert.alert-danger, .alert-window .alert.alert-success, .alert-window .alert.alert-info,
.well {
    background-color: #f0f0f0 !important;
    color: #999;
    border: none !important;
}

div.bootstrap-tagsinput,
div.panel-body {
    background-color: #f0f0f0;
    border: none !important;
}

a.btn.btn-xs.btn-default.hidden-xs,
span.tag {
    background-color: #b6b6b6 !important;
    border-radius: 1px;
    color: #fafafa;
}

li[component="post"] {
    background: #f0f0f0;
    position: relative !important;
    padding: 10px 10px !important;
    margin-bottom: 10px !important;
    border-radius: 4px !important;
}

blockquote {
    background-color: #fff;
}

div.post-signature {
    border-color: #cacaca !important;
}

div.modal-header,
div.modal-body,
div.modal-footer {
    background-color: #fafafa;
    border: none;
}

.composer,
.composer .title-container .title {
    background-color: #f0f0f0;
    color: #999;
}

textarea.write,
div.preview.well {
    background-color: #fafafa;
    border: none !important;
}

ul.formatting-group li:hover {
    background-color: #b6b6b6 !important;
    color: #fff !important;
    border-radius: 2px;
}


/* Buttons */

a.btn.btn-primary {
    background: #167ac6;
    border-radius: 4px;
    border: none;
}

button.btn.btn-primary,
.topic .posts .content .toggle {
    background: #23bcb1;
    border-radius: 4px;
    border: none;
}

button.btn.btn-primary:hover {
    background: #27d3c7;
}

a.btn.btn-default {
    background: #b6b6b6;
    border-radius: 4px;
    border: none;
    border-right: 1px solid #f0f0f0;
    color: #fff;
    font-weight: 200;
}

a.btn.btn-default:hover {
    background: #808080;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: 0 !important;
}

button.btn.btn-info.dropdown-toggle {
    background: #b6b6b6;
    border-radius: 0 4px 4px 0;
    border: none;
}

button.btn.btn-default {
    background: #b6b6b6;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 200;
}

button.btn.btn-info.dropdown-toggle:hover,
button.btn.btn-default:hover, button.btn.btn-default:focus {
    background-color: #808080;
    color: #fff;
}

li.previous.pull-left a {
    background-color: #e6e6e6;
    border-radius: 4px 0 0 4px !important;
    border: 1px solid #fafafa;
    color: #999;
}

li.next.pull-right a {
    background-color: #e6e6e6;
    border-radius: 0 4px 4px 0 !important;
    border: 1px solid #fafafa;
    color: #999;
}

li.previous.pull-left.disabled,
li.next.pull-right.disabled {
    fill: #222 !important;
}

a.btn.btn-primary:hover,
li.next.pull-right a:hover,
li.previous.pull-left a:hover,
li.page a:hover {
    background: #23bcb1;
    color: #fafafa;
}

li.page.active a,
li.page.active a:hover {
    background-color: #23bcb1;
    border: 1px solid #fafafa;
}

li.page a {
    color: #999;
    background-color: #e6e6e6;
    border: 1px solid #fafafa;
}

li.page a:hover {
    background-color: #23bcb1;
    border: 1px solid #fafafa;
}

.chat-modal .close {
    color: #f5f5f5 !important;
}

.close {
    text-shadow: none;
    font-size: 18px;
}

small.pull-right a {
    color: #23bcb1 !important;
}

i.fa.fa-pencil-square.pointer.edit-icon,
.breadcrumb .fa {
    color: #999;
}

.breadcrumb .fa:hover {
    color: #ff8000;
}

a.btn-register,
a.btn-login {
    background: transparent;
    border: none;
}

a.btn-register:hover, a.btn-register:focus,
a.btn-login:hover, a.btn-login:focus {
    background: #323232 !important;

}

/* Vote indicator */

.votes a {
    background-color: #b6b6b6;
}

span.votes a,
.upvoted i.fa.fa-chevron-up,
.downvoted i.fa.fa-chevron-down {
    color: #f5f5f5 !important;
}

.upvoted {
    background-color: #00977d !important
}

.downvoted {
    background-color: #fd3563 !important;
}


/* Message composer + profile button */

.taskbar .navbar-nav li.taskbar-composer a,
.taskbar .navbar-nav li.taskbar-composer a:active,
.taskbar .navbar-nav li.taskbar-composer a:focus,
.taskbar .navbar-nav li.taskbar-composer a:hover,
button.fab.dropdown-toggle {
    background: #323232;
    opacity: .95;
}

.taskbar .navbar-nav li a {
    padding: 5px 15px;
}


/* Composer tooltip */

.taskbar-composer::after {
    position: absolute;
    text-align: center;
    top: -4ex;
    left: 0;
    background: #1e1e1e;
    border-radius: 2px;
    color: #eee;
    font-weight: 200;
    box-shadow: .3em .3em .3em rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 0;
    transition: opacity 2s cubic-bezier(0.95, -0.25, 0.05, 1.25);
}

.taskbar-composer:hover::after {
    content: "Restore";
    opacity: 0.9;
    padding: 0.2em 0.5em;
}

.taskbar-composer.active:hover::after {
    content: "Hide";
}


/* Logo */

.header .forum-logo {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 150px !important;
    padding-left: 150px;
    background: url('chrome-extension://__MSG_@@extension_id__/themes/img/logo-white.png') no-repeat;
}


/** Additions and fixes (messed with by luetage) **/

.posts-list .posts-list-item .topic-title, a {
    color: #00acee;
}
.posts-list .posts-list-item .topic-title:hover, a:hover {
    color: #00acee;
}
.header .notification-list li.unread, .slideout-menu .notification-list li.unread {
    background-color: #141414;
}
.header .notification-list li .mark-read:hover, .slideout-menu .notification-list li .mark-read:hover {
    color: #777;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #f0f0f0;
}
.status.offline {
    color: #999;
}
.table-striped>tbody>tr:nth-of-type(odd):hover {
    background-color: #f9f9f9;
}
.table-striped>tbody>tr:nth-of-type(even):hover {
    background-color: #f0f0f0;
}
li[data-nid^="new_post"]::before, li[data-nid^="upvote"]::before, li[data-nid^="follow"]::before, li[data-nid^="move"]::before, li[data-nid^="chat"]::before, li[data-nid^="tid"]::before {
    color: #999 !important;
}
pre {
    color: #999;
    background-color: #b6b6b6;;
    border-color: #b6b6b6;;
}
.account .profile .profile-meta strong {
    color: #999;
}
.copy-all-code-button {
    right: 35px;
}

/* Advanced formatting mod */
.vivaldi-mod-modal-box {
    background: #f0f0f0;
    border-color: #e0e0e0;
    color: #333;
}
.vivaldi-mod-modal-box-control-bar {
    background: #e0e0e0;
    color: #999;
}
.dropmarker, .dropmarker:after {
    background: black;
}
.dropmarker:before {
    border-color: black;
}
#toolbar-custom ul li:hover {
    cursor: pointer;
    background-color: #b6b6b6;
    color: #fff;
}
