/* Logo for light themes */

#vivaldilogo {
    background: url('chrome-extension://__MSG_@@extension_id__/themes/img/logo-black.svg');
    background-size: contain;
}
#vivaldilogo img {
    display: none !important;
}
