/* Forum logo */

.header .forum-logo {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 150px !important;
    padding-left: 150px;
    background: url('chrome-extension://__MSG_@@extension_id__/themes/img/logo-white.png') no-repeat;
}