/*** Theme Mod ***/


/** Basics **/

body {
    background-color: unset !important;
}
/* set background image of theme, the main panel part handles background with narrow screen widths */
body, main#panel.slideout-panel {
    background-image: url('chrome-extension://__MSG_@@extension_id__/themes/img/planks.png') !important;
    color: #2a363b;
}
/* transparency setting for the content + adjusted spacing */
#content {
     background-color: rgba(245,255,255,0.85);
     padding-top: 20px !important;
     padding-right: 25px !important;
     padding-left: 25px !important;
}
/* fix the spacing on profiles affected by code above */
.account {
     margin-top: 280px;
}
/* focus */
:focus {
    outline-color: #8c8c8c !important;
}
.form-control:focus {
    border-color: #8c8c8c !important;
}


/** Header **/

/* navbar */
.navbar-default {
     background-color: #bfc8d5 !important;
}
/* text/icons */
.navbar-default .navbar-nav>li>a, .navbar-default .btn-link, .navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: #2a363b;
}
.vivaldinav ul a.active {
    color: #00247d;
}
ul.nav.navbar-nav.navbar-left>li>a:hover {
    color: #d01126;
}
#logged-in-menu.nav.navbar-nav.navbar-right {
    font-size: 15px;
}
/* active background right */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #a8b4c5;
}
/* avatar border color */
.header #user_dropdown img {
    border-color: #9d9d9d;
}
/* unread-count icon color */
.unread-count::after {
    background-color: #d01126;
    border-color: #2a363b;
}
/* menuwrapper */
.menuwrapper {
    background-color: #2a363b;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #0a0d0e !important;
    color: #d01126 !important;
}
#main-nav li>a {
    color: #fff;
}
#main-nav li>a:hover {
    color: #f58591;
}
/* hide menu text / show it on mobile version */
span.visible-xs-inline.showmenutext:not(.slideout-menu) {
    display: none !important;
}
.slideout-menu span.visible-xs-inline.showmenutext {
    display: inline-block !important;
}


/** Content **/

/* links */
.posts-list .posts-list-item .topic-title, a {
    color: #005ec1;
}
a:focus, a:hover {
    color: #0078f4;
}
.topic .posts>li a {
    color: #00977d;
}
.topic .posts>li a:hover {
    color: #00caa7;
}
small.pull-right a, .topic .bookmarked {
    color: #333 !important;
}
/* category + various other hover backgrounds */
.categories>li:hover, .category>ul>li:hover, .notifications-list li:nth-child(even), #content .nav>li:not(.active)>a:focus, #content .nav>li:not(.active)>a:hover {
    background-color: rgba(192,192,192,0.3) !important;
}
.notifications-list li.unread {
    background-color: rgba(254,254,254,0.8) !important;
}
/* top "/" */
li.active::before {
    color: #777 !important;
}
.breadcrumb>li+li:before {
    color: #777 !important;
}
/* post divider */
hr {
    border-color: #cacaca;
}
.topic .post-signature {
    border-top-color: #acacac;
}
/* subcategories */
.categories>p, .category>p, .subcategory>p {
    color: #7a7a7a;
}
/* blockquote */
blockquote {
    background-color: rgba(225,225,225,0.6);
}
/* threaded replies */
.topic [component="post/replies"] {
    border-left: 5px solid #d0d0d0;
}
/* composer */
.composer .formatting-bar .formatting-group li {
    color: #00247d;
}


/** Pagination **/

li.previous.pull-left a, li.next.pull-right a {
    color: #00247d;
}
a.btn.btn-primary:hover,
li.next.pull-right a:hover,
li.previous.pull-left a:hover,
li.page a:hover {
    color: #00247d;
}
.pagination>.disabled>a {
    color: #777 !important;
}
li.page.active a, li.page.active a:hover {
    background-color: #00247d;
    color: #f58591;
}
li.page a {
    color: #00247d;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: #bfc8d5;
}


/** Voting indicators **/

.votes a {
    background-color: #fefefe;
}
.votes a i {
    color: #00247d;
}
.upvoted {
    background-color: #00caa7 !important;
}
.downvoted {
    background-color: #d01126 !important;
}
.upvoted i.fa.fa-chevron-up, .downvoted i.fa.fa-chevron-down {
    color: #fefefe;
}


/** Dropdowns **/

.dropdown-menu {
    background-color: #bfc8d5;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, #menu .chat-list>li:hover, .header .chat-list>li:hover {
    background-color: #fefefe;
}
.notification-list li.unread, .chat-list.chats-list li.unread {
    background-color: #fefefe !important;
}
/* forum mod highlight */
#optionsLink:hover i {
    color: #d01126;
}
#optionsLink:hover span {
    color: #00247d;
}
/* dropdown text color */
.dropdown-menu li a {
    color: #333 !important;
}
/* divider and special hover */
.header .notif-dropdown-link, .dropdown-menu .divider {
    border-top: 2px solid #fefefe;
}
li .notif-dropdown-link a:hover {
    background-color: transparent !important;
    color: #d01126 !important;
}


/** Profile **/

.btn-group.account-fab .fab {
    background-color: #00247d;
    color: #f58591 !important;
}
.post-info {
    width: 155px !important;
}


/** Users **/

.users-container .anon-user .user-icon {
    background-color: #bfc8d5;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #00247d;
}


/** Buttons **/

.btn-primary, .account .cover .save {
    background-color: #8c8c8c;
    border-color: #8c8c8c;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary, .account .cover .save:hover {
    background-color: #666;
    border-color: #666;
}
.btn-info, .btn.info:hover {
    background-color: #00247d !important;
    border-color: #00247d !important;
}
.btn-info span.caret, .btn.info span.caret:hover {
    color: #f58591;
}
.input-group-addon {
    background-color: #bfc8d5;
}
div.btn-group.pull-right.open {
    background-color: #000 !important;
}
/* composer button */
.taskbar .navbar-nav li.taskbar-composer a, .taskbar .navbar-nav li.taskbar-composer a:hover, .composer .resizer .trigger {
    background-color: #00247d !important;
}
.taskbar .navbar-nav li.taskbar-chat a i, .taskbar .navbar-nav li.taskbar-composer a i, .composer .resizer .trigger i {
    color: #f58591;
}
/* follow button */
.fab.btn-morph.plus {
    background-color: #00caa7 !important;
}
/* forum shortcuts (go-to) */
.btn-default.hidden-xs {
    background-color: #fefefe;
    border: 1px solid #cacaca;
}
.btn-default.hidden-xs:hover {
    border-color: #00caa7;
}
/* logged out menu */
a.btn-register, a.btn-login {
    border-color: #8c8c8c;
}
a.btn-register:hover, a.btn-login:hover, a.btn-register:focus, a.btn-login:focus {
    background-color: #8c8c8c !important;
    border-color: #8c8c8c;
}



/** Alerts **/

/* floating alerts */
.alert-window .alert.alert-warning, .alert-window .alert.alert-danger, .alert-window .alert.alert-success, .alert-window .alert.alert-info {
    background-color: #bfc8d5;
    color: #777 !important;
    border-color: #bfc8d5;
    opacity: 1;
}
.alert-window .alert.alert-warning, .alert-window .alert.alert-danger {
    border-left-color: #d01126 !important;
}
.alert-window .alert.alert-success {
    border-left-color: #00caa7 !important;
}
.alert-window .alert.alert-info {
    border-left-color: #fff !important;
}
/* other alerts */
.alert.alert-warning, .alert.alert-success, .alert.alert-info {
    opacity: 0.7;
}


/** Chat **/

/* expanded chat */
.expanded-chat .chat-content li.chat-message, .chat-modal .chat-content li.chat-message {
    font-weight: 400 !important;
}
.chats-list>li.bg-primary {
    background-color: #00247d;
}
.expanded-chat .chat-content li.chat-message[data-break=true] {
    border-color: #cacaca;
}
.row.chats-page .chats-list {
    background-color: #fff;
}
/* change close buttons globally */
.close {
    color: #333;
    opacity: 0.4;
}
.close:hover, .close:focus {
    opacity: 0.6;
}
/* floating chat */
.chat-modal .modal-header {
    background-color: #00247d;
    border-left-color: #00247d !important;
}
.chat-modal .modal-header h4 {
    color: #fefefe;
}
.chat-modal .close {
    color: #fff;
    opacity: 0.8;
}
.chat-modal .close:hover, .chat-modal .close:focus {
    opacity: 1;
}


/** Settings page **/

.well {
    background-color: rgba(192,192,192,0.33);
}


/** Search page **/

.panel-default>.panel-heading {
    background-color: #8c8c8c;
    color: #fefefe;
}
#advanced-search .panel-default>.panel-heading:hover {
    background-color: #666;
}
.panel-body.search-options.collapse.in, .panel {
    background-color: rgba(192,192,192,0.33);
}
.fade-out {
    background-image: none;
}


/** Community info **/

div.shadow-box1, div.shadow-box2 {
    background-color: rgba(192,192,192,0.33);
}


/** Logo **/

.header .forum-logo {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 150px !important;
    padding-left: 150px;
    background: url('chrome-extension://__MSG_@@extension_id__/themes/img/logo-mod.png') no-repeat;
}
#vivaldifooter #vivaldi-icon path:nth-of-type(1) {
    fill: #00107C;
}
