/*** Sprucey Bonus Dark ***/

html,
body
  {
    background-size: 10px 10px !important;
    background-color: #2e3539;
    background-image: linear-gradient(45deg, rgba(100, 100, 100, .2) 25%, transparent 25%, transparent 50%, rgba(100, 100, 100, .2) 50%, rgba(100, 100, 100, .2) 75%, transparent 75%, transparent) !important;
    min-height: 100% !important;
    color: #ddd !important;
  }

  .categories .description,
.category .description,
.subcategory .description
  {
    color: #c7c7c7;
  }

  .body
  {
    background: #4d585f !important;
  }






/* remove below code to show announce boxes */
  /* section.community-info-box
  {
    display: none;
  }
 */





/* remove above code to show announce boxes */
  .shadow-box1
  {
    background: #4d585f;
    box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.09);
  }

  .shadow-box2
  {
    background: #4d585f;
    box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.09);
  }

  .topic .posts > li a
  {
    text-decoration: underline;
    color: #24948c;
  }

  .menuwrapper
  {
    background: #2e3539;
    top: 50px;
    left: 0;
    right: 0;
    height: 50px;
  }

  blockquote
  {
    background-color: #2e3539;
    border-left: 5px solid #d0d0d0;
  }

  #content
  {
    margin-top: 40px;
    background: #2e3539 !important;
    padding-top: 5px !important;
    border-radius: 10px !important;
    border: 5px solid #4d585f!important;
    -webkit-box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.75);
  }

  .composer
  {
    background: #2e3539 !important;
    border-top: 1px solid #4d585f !important;
  }

  .composer .title-container .title
  {
    background: #4d585f !important;
  }

  .composer .preview,
.composer .write
  {
    border: 1px solid #EDEDED;
    background: #2e3539 !important;
  }

  .composer .tags-container .bootstrap-tagsinput input
  {
    background: #2e3539 !important;
    margin-left: 0px !important;
  }

  .form-control
  {
    background-color: #4d585f !important;
  }

  .navbar-default
  {
    background-color: #f2f2f2 !important;
    border-color: #eee;
  }

  small.label.group-label.inline-block
  {
    margin-right: 6px;
    margin-left: 6px;
    background: #a54c52 !important;
  }

  .topic .posts .status:before
  {
    display: none !important;
  }

  .win .categories h2.title .description,
.win .category h2.title .description,
.win .subcategory h2.title .description
  {
    color: #777 !important;
    font-weight: normal;
  }

  .categories > li .content h2,
.category > ul > li .content h2
  {
    font-size: 10pt;
  }

  .topic-title,
a
  {
    color: #ccc;
    text-decoration: none;
  }

  span.timeago
  {
    color: #b05158 !important;
  }

  .stats
  {
    font-size: 14px !important;
    text-align: center;
    margin-top: 7px;
    line-height: 22px;
  }

  .dropdown-menu
  {
    font-size: 11px;
  }

  .avatar.avatar-md
  {
    width: 28px;
    height: 28px;
    line-height: 28px;
  }

  .navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover
  {
    background-color: rgba(0, 0, 0, .25);
    color: #555;
  }

  .composer .title-container .title,
.bootstrap-tagsinput input,
.bootstrap-tagsinput input:focus
  {
    border: 1px solid #ddd !important;
  }

  .bootstrap-tagsinput
  {
    margin-top: 1ex !important;
    padding-left: 0 !important;
  }

  li[component="post"] > hr,
.post-bar > hr
  {
    display: none !important;
  }

  li[component="post"]
  {
    background: #3d474c;
    position: relative !important;
    padding: 20px 10px !important;
    border-bottom: 3px solid #999 !important;
    margin-bottom: 20px !important;
    border-radius: 5px !important;
  }

  small.pull-right a
  {
    color: #A8A8A8 !important;
    text-transform: capitalize;
    font-size: 12px;
  }

  .fa-ellipsis-v:before
  {
    font-size: 150% !important;
    vertical-align: -2px !important;
    content: "\f013" !important;
  }

  .menuwrapper
  {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
  }

  hr
  {
    border-top: 1px solid #4d585f !important;
  }

  .categories > li:nth-child(even),
.category > ul > li:nth-child(odd)
  {
    background: #353d42 !important;
  }

  .categories > li,
.category > ul > li
  {
    margin-bottom: 0 !important;
  }

  .categories > li,
.category > ul > li
  {
    border-bottom: 1px solid #4d585f !important;
  }

  .alert-warning
  {
    display: none !important;
  }

  .categories > li .content img,
.category > ul > li .content img,
.categories > li .content .user-icon,
.category > ul > li .content .user-icon
  {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
  }

  .categories > li .content .icon,
.category > ul > li .content .icon
  {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
  }

  .categories > li .card .user-icon,
.category > ul > li .card .user-icon
  {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 1.5rem;
  }

  .categories > li .card img,
.category > ul > li .card img
  {
    width: 24px;
    height: 24px;
  }

  .categories > li:hover,
.category > ul > li:hover
  {
    background-color: transparent !important;
  }

  .category > ul > li:not(.unread) h2 a
  {
    color: #555;
  }

  .btn-primary
  {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #b05158;
    border-color: #ccc;
  }

  .btn-default
  {
    color: #eee;
    background-color: #2e3539;
    border-color: #4d585f;
  }

  .btn-info
  {
    color: #fff;
    background-color: #b05158;
    border-color: #ccc;
  }

  .btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active
  {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
  }

  .topic .posts .icon img,
.topic .posts .icon .user-icon
  {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
  }

  .btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
  {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
  }

  .pagination
  {
    -webkit-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
  }

  .pagination > li > a,
.pagination > li > span
  {
    color: #eee;
    background-color: #2e3539;
    border: 1px solid #4d585f;
  }

  .pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover
  {
    color: #eee;
    background-color: #2e3539;
    border-color: #4d585f;
  }

  .category > ul > li .tag-list .tag
  {
    background: #2e3539;
    border: 1px solid #4d585f;
    font-size: 8px !important;
    padding: 3px !important;
  }

  .navbar-default .navbar-nav > li > a
  {
    color: #f5f5f5 !important;
  }

  .navbar-default
  {
    background-color: #3d474c !important;
  }

  .navbar-default .btn-link
  {
    color: #f5f5f5 !important;
  }

  .vivaldinav ul a.active
  {
    color: #ef3938 !important;
  }

  .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover
  {
    color: #ef3938 !important;
    background-color: transparent;
  }

  .header #user_dropdown img
  {
    width: 30px;
    height: 30px;
    border: 2px solid #E1E1E1;
  }

  .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
  {
    background-color: #282e31;
  }


/* Sept 2018 fixes */

small.pull-right a
{
  color: #fff !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: #fff;
  background-color: #43bd79;
  border-color: transparent;
}

.categories > p,
.category > p,
.subcategory > p
{
  color: #949494;
}

.btn:not(.hidden-xs)
{
  padding: 5px 8px;
}

.topic [component="post/parent"]
{
  font-size: 9px;
  background-color: transparent;
}

.btn-primary,
.btn-info
{
  border-color: #d4767d;
}

.dropdown-menu
{
  background-color: #2e3539;
  border: 1px solid #545b6b;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover
{
  background-color: #4b565d;
  color: #fff;
}

.dropdown-menu > li > a
{
  color: #ccc;
}

.category > ul > li:not(.unread) h2 a
{
  color: #7b7b7b;
}

.topic-title,
a
{
  color: #fff;
  text-decoration: none;
}

.composer .title-container .title
{
  margin-left: 0px;
}

.composer .title-container .title,
.bootstrap-tagsinput input,
.bootstrap-tagsinput input:focus
{
  border: 1px solid #66747e !important;
}

.form-control
{
  color: #ccc;
}

.composer .resizer .trigger
{
  background: #2e3539;
  border: 1px solid #5e6a71;
}

.modal-content
{
  background-color: #40494e;
  border: 1px solid #545b6b;
}

.modal-header
{
  border-bottom: 1px solid #545b6b;
}

.form-control
{
  border: 1px solid #7c8394;
}

.close
{
  color: #fff;
}

.panel-default
{
  border-color: #545b6b;
}

.panel
{
  margin-bottom: 20px;
  background-color: #3e474c;
}

.panel-default > .panel-heading
{
  color: #fff;
  background-color: #2e3539;
  border-color: #545b6b;
}

.bootstrap-tagsinput
{
  background-color: #2e3539;
  border: 1px solid #545b6b;
  color: #fff;
}

.alert-info
{
  background-color: #2e3539;
  border-color: #545b6b;
  color: #fff;
}

.header .chat-list,
.slideout-menu .chat-list
{
  color: #fff;
}

.chats-list > li
{
  border-color: #545b6b;
}

.chats-list
{
  border-top: 1px solid #545b6b;
}

.header .chat-list > li:hover,
.slideout-menu .chat-list > li:hover
{
  background: #3c454a;
}

.dropdown-menu .divider
{
  background-color: #545b6b;
}

.well
{
  background-color: #394146;
  border: 1px solid #545b6b;
}

.avatar.avatar-rounded
{
  border-radius: 100% !important;
}

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default
{
  color: #fff;
  background-color: #4c5261;
  border-color: #677084;
}

.input-group-addon
{
  color: #fff;
  background-color: #3c454a;
  border: 1px solid #545b6b;
}

.header .notification-list li.unread,
.slideout-menu .notification-list li.unread
{
  background-color: #3f494e;
}

.header .chat-list li.unread,
.slideout-menu .chat-list li.unread
{
  background-color: #373f44;
}

ul.dropdown-menu.dropdown-menu-right a
{
  color: #fff;
}

ul.dropdown-menu.dropdown-menu-right a:hover
{
  color: #43bd79 !important;
}

.category > ul > li:not(.unread) h2 a
{
  color: #a5a4a4 !important;
}

.categories-title
{
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-bottom: 5px;
  margin-bottom: 1px;
}

.categories > li,
.category > ul > li
{
  border-bottom: 1px solid #4d585f !important;
  background: #353d42;
}

.categories > li:nth-child(even),
.category > ul > li:nth-child(odd)
{
  background: #2e3539 !important;
}

.categories-title
{
  color: #2e3539;
}

.categories > li,
.category > ul > li
{
  border-bottom: 1px solid #4d585f !important;
  border-top: 1px solid #4d585f;
  background: #353d42;
  margin-bottom: -1px !important;
}

hr
{
  display: none;
}

.categories > p,
.category > p,
.subcategory > p
{
  margin-top: 10px;
  display: none;
}

.composer .preview,
.composer .write
{
  border: 1px solid #545b6b;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th
{
  border: 1px solid #545b6b;
}

.table-bordered
{
  border: 1px solid #545b6b;
}

.table-striped > tbody > tr:nth-of-type(odd)
{
  background-color: #2e3539;
}

.alert-window .alert
{
  background-color: #2e3539;
}

.shadow-box3
{
  background: #465056;
  border: 1px solid #5d6b73 !important;
  margin-bottom: 10px;
}

p.notification
{
  color: #ddd;
}

#submenu
{
  background-color: #2e3539;
  border-bottom: 1px solid #545b6b;
  box-shadow: 4px 10px 5px -8px rgba(0, 0, 0, 0.5);
}

#vivaldiheader
{
  background: #3f494e;
  border-bottom: 1px solid #545b6b !important;
}

#submenu a:focus,
#submenu a:hover,
#submenu li.active>a
{
  color: #ddd;
  background-color: #242a2d;
}

#vivaldiheader a,
#vivaldiheader a:active,
#vivaldiheader a:focus,
#vivaldiheader a:visited
{
  color: #aaa !important;
}

#vivaldimenu ul a:hover
{
  background: #2e3539;
}

#vivaldimenu ul
{
  background: #3f494e;
  border: 1px solid #545b6b;
}

#vivaldimenu ul li
{
  border-top: 1px solid #545b6b;
}
.category-children a small:hover
{
  color: #fff;
}




/* messed up by luetage */

#vivaldimenu a .sub-arrow::after {
    color: #aaa !important;
}
.status.offline {
    color: #aaa;
}
.chats-list>li .avatar-placeholder {
    background-color: #2e3539;
}
.page-user-chats #content.container {
    padding-top: 0px !important;
}
.composer .formatting-bar .formatting-group li {
    color: #24948c;
}
.composer .formatting-bar .formatting-group li:focus, .composer .formatting-bar .formatting-group li:hover {
    background-color: #43494d;
}
.close {
    color: #ddd;
    opacity: 0.4;
}
.close:hover, .close:focus {
    color: #ddd;
    opacity: 0.85;
}
.chat-modal .chat-content li.chat-message .chat-user a, .expanded-chat .chat-content li.chat-message .chat-user a {
    color: #ddd;
}
header .notification-list li.unread, .slideout-menu .notification-list li.unread, .chat-list.chats-list li.unread, .bg-info {
    background-color: #1c2123 !important;
}
.chats-full .chats-list>li.unread {
    background-color: unset;
    color: #b05158;
}
.chat-modal [component="chat/nav-wrapper"] [component="chat/search/list"] li, .chats-full [component="chat/nav-wrapper"] [component="chat/search/list"] li {
  background: #3f494e;
}
.notifications-list li:nth-child(even), .notifications-list li:nth-child(odd) {
    background-color: #43494d;
}
.notifications-list li.unread {
    background-color: #1c2123 !important;
}
li[data-nid^="new_post"]::before, li[data-nid^="upvote"]::before, li[data-nid^="follow"]::before, li[data-nid^="move"]::before, li[data-nid^="chat"]::before, li[data-nid^="tid"]::before, #menu .notification-list li .mark-read, .header .notification-list li .mark-read {
    color: #aaa !important;
}
#vivaldifooter a {
    color: #ddd;
}
a:hover {
    color: #ddd;
}


/* Logo */

#vivaldilogo {
    background: url('chrome-extension://__MSG_@@extension_id__/themes/img/logo-white.png') no-repeat;
}
#vivaldilogo img {
    display: none !important;
}


/* Voting indicators */

.votes a {
    background-color: #2e3539;
}
.topic .votes [component="post/upvote"].upvoted {
    background-color: #43bd79 !important;
    color: #fefefe !important;
}
.topic .votes [component="post/downvote"].downvoted{
    background-color: #bd4e43 !important;
    color: #fefefe !important;
}


/* Logo animation */

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
.categories>li .content .icon,
.category>ul>li .content .icon,
#vivaldilogo {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: rubberBand;
}


/*
Railscasts-like style (c) Visoft, Inc. (Damien White)
*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #121212 !important;
    color: #e6e1dc;
}
.hljs-comment,
.hljs-quote {
    color: #bc9458;
    font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag {
    color: #c26230;
}
.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
    color: #a5c261;
}
.hljs-subst {
    color: #519f50;
}
.hljs-tag,
.hljs-name {
    color: #e8bf6a;
}
.hljs-type {
    color: #da4939;
}
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
    color: #6d9cbe;
}
.hljs-params {
    color: #d0d0ff;
}
.hljs-attribute {
    color: #cda869;
}
.hljs-meta {
    color: #9b859d;
}
.hljs-title,
.hljs-section {
    color: #ffc66d;
}
.hljs-addition {
    background-color: #144212;
    color: #e6e1dc;
}
.hljs-deletion {
    background-color: #600;
    color: #e6e1dc;
}
.hljs-selector-class {
    color: #9b703f;
}
.hljs-selector-id {
    color: #8b98ab;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: bold;
}
.hljs-link {
    text-decoration: underline;
}
.hljs-literal, .hljs-selector-pseudo {
    color: #e6e1dc;
}

/* Advanced formatting mod */
.vivaldi-mod-modal-box {
    background: #2e3539;
    border-color: #3d474c;
    color: #24948c;
}
.vivaldi-mod-modal-box-control-bar {
    background: #3d474c;
    color: #ddd;
}
.dropmarker, .dropmarker:after {
    background: #24948c;
}
.dropmarker:before {
    border-color: #24948c;
}
#toolbar-custom ul li:hover {
    background-color: #43494d;
}
