/*** Sprucey Bonus Dark ***/

html,
body {
    background-size: 10px 10px !important;
    background-color: #2e3539;
    background-image: linear-gradient(45deg, rgba(100, 100, 100, .2) 25%, transparent 25%, transparent 50%, rgba(100, 100, 100, .2) 50%, rgba(100, 100, 100, .2) 75%, transparent 75%, transparent) !important;
    min-height: 100% !important;
    color: #ddd !important;
}
body {
    background-color: unset !important;
}
.body {
    background: #4d585f !important;
    overflow-x: hidden;
}
h1.community-join {
    color: #ddd !important;
}
.shadow-box1 {
    background: #4d585f !important;
    box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.09) !important;
}
.shadow-box2 {
    background: #4d585f !important;
    box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.09) !important;
}
blockquote {
    background-color: #2e3539;
    border-left: 5px solid #d0d0d0;
}
#content {
    background: #2e3539 !important;
    border-radius: 10px !important;
    border: 5px solid #4d585f!important;
    box-shadow: 0px 0px 43px -6px rgba(0, 0, 0, 0.75);
}
.navbar-default {
    background-color: #f2f2f2 !important;
    border-color: #eee;
}
.topic .posts .status:before {
    display: none !important;
}
.categories>li .content h2,
.category>ul>li .content h2 {
    font-size: 10pt !important;
}
.stats {
    font-size: 16px !important;
}
.avatar.avatar-md {
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(0, 0, 0, .25);
    color: #555;
}
li[component="post"] > hr,
.post-bar > hr {
    display: none !important;
}
li[component="post"], .panel {
    background: #3d474c;
    position: relative !important;
    padding: 20px 10px !important;
    border-bottom: 3px solid #999 !important;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 20px !important;
    border-radius: 5px !important;
}
small.pull-right a {
    color: #A8A8A8 !important;
    text-transform: capitalize;
    font-size: 12px;
}
hr {
    border-top: 1px solid #4d585f !important;
}
.categories>li:nth-child(even),
.category>ul>li:nth-child(odd) {
    background-color: #353d42 !important;
}
.categories>li:hover,
.category>ul>li:hover {
    background-color: transparent;
}
.categories>li,
.category>ul>li {
    margin-bottom: 0 !important;
}
.categories > li,
.category > ul > li {
    border-bottom: 1px solid #4d585f !important;
}
.categories > li .content img,
.category > ul > li .content img,
.categories > li .content .user-icon,
.category > ul > li .content .user-icon {
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
}
.categories > li .content .icon,
.category > ul > li .content .icon {
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
}
.categories>li .card .user-icon,
.category>ul>li .card .user-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 1.5rem;
}
.categories>li .card img,
.category>ul>li .card img {
    width: 24px;
    height: 24px;
}
.category > ul > li:not(.unread) h2 a {
    color: #a0a0a0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
}
.topic .posts .icon img,
.topic .posts .icon .user-icon {
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
}
.category > ul > li .tag-list .tag {
    background: #2e3539;
    border: 1px solid #4d585f;
    font-size: 8px !important;
    padding: 3px !important;
}
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5 !important;
}
.navbar-default {
    background-color: #3d474c !important;
}
.navbar-default .btn-link {
    color: #f5f5f5 !important;
}
.vivaldinav ul a.active {
    color: #ef3938 !important;
}
#vivaldiheader #user_dropdown img {
    width: 30px;
    height: 30px;
    border: 2px solid #E1E1E1;
}
#submenu
{
  background-color: #2e3539;
  border-bottom: 1px solid #545b6b;
  box-shadow: 4px 10px 5px -8px rgba(0, 0, 0, 0.5);
}

#vivaldiheader
{
  background: #3f494e;
  border-bottom: 1px solid #545b6b !important;
}

#submenu a:focus,
#submenu a:hover,
#submenu li.active>a
{
  color: #ddd;
  background-color: #242a2d;
}

#vivaldiheader a,
#vivaldiheader a:active,
#vivaldiheader a:focus,
#vivaldiheader a:visited
{
  color: #aaa !important;
}

#vivaldimenu ul a:hover
{
  background: #2e3539;
}

#vivaldimenu ul
{
  background: #3f494e;
  border: 1px solid #545b6b;
}

#vivaldimenu ul li
{
  border-top: 1px solid #545b6b;
}
.category-children a small:hover
{
  color: #fff;
}
.fa-ellipsis-v:before {
    font-size: 150% !important;
    vertical-align: -2px !important;
    content: "\f013" !important;
}


/*------- Messed with by luetage -------*/

/* Dropdowns */

.dropdown-menu {
    background-color: #373F44;
}
.chats-list, .chats-list>li {
    border-color: transparent;
}
#menu .chat-list, .header .chat-list {
    color: #ddd;
}
#menu .chat-list>li:hover, .header .chat-list>li:hover, li .notif-dropdown-link a:hover {
    background-color: #424E53;
}
.header .notification-list li.unread, .slideout-menu .notification-list li.unread, .chat-list.chats-list li.unread {
    background-color: #1c2123 !important;
}
.header .notif-dropdown-link {
    border-top-color: #839BA4;
}
#menu .chat-list>li:not(:last-child), .header .chat-list>li:not(:last-child) {
    border-bottom: 1px solid #738890;
}
.dropdown-menu .divider {
    background-color: #839BA4;
}
.dropdown-header {
    color: #ddd;
    opacity: 0.66;
}
.dropdown-menu a, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, ul.dropdown-menu.dropdown-menu-right a, ul.dropdown-menu.dropdown-menu-right a:hover, ul.dropdown-menu.dropdown-menu-right a:focus {
    color: #ddd !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #424E53;
}
li[data-nid^="new_post"]::before, li[data-nid^="upvote"]::before, li[data-nid^="follow"]::before, li[data-nid^="move"]::before, li[data-nid^="chat"]::before, li[data-nid^="tid"]::before, #menu .notification-list li .mark-read, .header .notification-list li .mark-read {
    color: #ddd !important;
}


/* Logged out menu */

a.btn-register, a.btn-login {
    border: none;
}
a.btn-register:hover, a.btn-login:hover, a.btn-register:focus, a.btn-login:focus {
    background-color: #3e494d !important;
    border: none;
}


/* Various backgrounds */

.form-control, .search .post-search-item .bootstrap-tagsinput, .composer .tags-container .bootstrap-tagsinput, .bootstrap-tagsinput, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #2e3539;
    color: #ddd;
    border-color: #858585;
}
.well {
    background-color: #3d474c;
    border-color: #858585;
}
.panel-default>.panel-heading {
    color: #ddd;
    border-color: #2e3539;
    background-color: #2e3539;
}
.table-striped>tbody>tr:nth-of-type(odd), .table-hover>tbody>tr:hover {
    background-color: #2e3539;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #43494d;
}
[component="chat/search/list"] li {
    background-color: #43494d;
    border-color: #858585;
}
.notifications-list li:nth-child(even), .notifications-list li:nth-child(odd) {
    background-color: #43494d;
}
.notifications-list li.unread {
    background-color: #1c2123 !important;
}


/* Pagination */

.pagination {
    box-shadow: 0px 10px 14px -11px rgba(0, 0, 0, 0.75);
}
.pagination>li>a, .pagination>li>span {
    background-color: transparent;
    border-color: #4d585f !important;
    color: #eee !important;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    background-color: #585d61;
    color: #eee;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #337ab7 !important;

}
.pagination>.disabled>a, .pagination>.disabled>span {
    background-color: #2e3539;
    color: #4d585f !important;
}


/* Alerts */

/* floating alerts */
.alert-window .alert.alert-warning, .alert-window .alert.alert-danger, .alert-window .alert.alert-success, .alert-window .alert.alert-info {
    background-color: #3E494D;
    color: #ddd !important;
    opacity: 1.0;
}
.alert-window .close {
    color: #ddd;
    opacity: 0.4;
}
.alert-window .close:hover, .alert-window .close:focus {
    color: #ddd;
    opacity: 0.85;
}
.alert-window .alert.alert-warning, .alert-window .alert.alert-danger {
    border-left-color: #ef3939 !important;
}
.alert-window .alert.alert-success {
    border-left-color: #4caf50 !important;
}
.alert-window .alert.alert-info {
    border-left-color: #ddd !important;
}
/* other alerts */
.alert.alert-warning, .alert.alert-success, .alert.alert-info, .alert.alert-danger {
    opacity: 0.75;
}


/* Dialogs */

.modal-content {
    background-color: #2e3539;
    color: #ddd;
}
.modal-header {
    border-bottom-color: #858585;
}
.modal-footer {
    border-top-color: #585d61;
}
.close {
    color: #ddd;
    opacity: 0.4;
}
.close:hover, .close:focus {
    color: #ddd;
    opacity: 0.85;
}
.chat-modal .chat-content li.chat-message[data-break=true], .expanded-chat .chat-content li.chat-message[data-break=true] {
     border-top-color: #585d61;
}
.chat-modal .chat-content li.chat-message .message-body-wrapper:hover .message-body, .expanded-chat .chat-content li.chat-message .message-body-wrapper:hover .message-body {
    background: #353d42;
}
.chats-list>li.bg-primary {
    background-color: #171b1d;
    color: #ddd;
}
.row.chats-page .chats-list>li {
    border-bottom: 1px solid #585d61 !important;
}


/* Composer */

.composer, .form-control {
    background-color: #2e3539;
    color: #ddd;
}
.composer .formatting-bar .formatting-group li {
    color: #24948c;
}
.composer .formatting-bar .formatting-group li:focus, .composer .formatting-bar .formatting-group li:hover {
    background-color: #43494d;
}
.composer .write, .composer .preview {
    color: #ddd;
    background-color: #2e3539;
    border-color: #EDEDED;
}
.composer .write-container .help-text, .composer .preview-container .help-text {
    color: #e1e1e1;
    opacity: 0.8;
}
div.preview.well a {
    color: #24948c;
}
div.preview.well a:hover, div.preview.well a:focus {
    color: #20827b;
}
.composer.resizable {
    border-top: 1px solid #e1e1e1;
}


/* Buttons */

.btn-primary, .btn-primary[disabled], .account .cover .indicator, .account .cover .save, .btn-danger, .btn-success {
    background-color: #b05158;
    border-color: #ccc !important;
    color: #fff !important;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary, .account .cover .indicator:hover, .account .cover .save:hover {
    background-color: #b86269;
}
.btn-info, .btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info, .btn-danger:hover, .btn-danger:focus, .btn-success:hover, .btn-success:focus {
    background-color: #b86269;
    border-color: #ccc;
    color: #fff !important;
}
.btn-default, .btn-default[disabled] {
    color: #eee;
    background-color: #2e3539;
    border-color: #858585;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background-color: #373F44;
    border-color: #858585;
    color: #ddd;
}
.btn-default.hidden-xs,
.btn-default.hidden-xs {
    background-color: #5c5c5c;
    border-color: #5c5c5c;
}
.btn-default.hidden-xs:hover,
.btn-default.hidden-xs:focus {
    background-color: #5c5c5c;
}
.btn-group.account-fab .fab, .taskbar .navbar-nav li.taskbar-composer a, .taskbar .navbar-nav li.taskbar-composer a:hover, .taskbar .navbar-nav li.taskbar-composer a:focus {
    background-color: #2276B6;
}
.btn-group.account-fab .fab, .taskbar .navbar-nav li.taskbar-chat a i, .taskbar .navbar-nav li.taskbar-composer a i, .composer .resizer .trigger i {
    color: #fbfbfb;
}
.input-group-addon {
    color: #eee;
    background-color: #2e3539;
    border-color: #858585;
}
.copy-all-code-button {
    right: 34px;
}


/* Text */

.posts-list .posts-list-item .topic-title, a {
    color: #f1f1f1;
}
.posts-list .posts-list-item .topic-title:hover {
    color: #ddd;
}
ul.nav.nav-pills a:hover, ul.nav.nav-pills a:focus {
    color: #ccc !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: #ccc;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #ccc;
}
li.active::before, .breadcrumb>li+li:before, .breadcrumb>.active, .categories>p, .category>p, .subcategory>p, .categories-title {
    color: #e1e1e1 !important;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small, .categories h2.title .description, .category h2.title .description, .subcategory h2.title .description, a.permalink:hover, .account>.row .fullname, .account .profile .aboutme>p, .categories .category-children small, .category .category-children small, .subcategory .category-children small, .posts-list .posts-list-item .post-info .post-author a {
    color: #e1e1e1;
}

.posts-list .posts-list-item .topic-category a, .stats small, .breadcrumb .fa, .tag-item, .account .profile .account-stats .stat-label, .account .profile .profile-meta span {
    color: #e1e1e1;
    opacity: 0.8;
}
.account .profile .profile-meta strong, .categories .description, .category .description, .subcategory .description {
    color: #ddd;
}
.category-children a small:hover {
    color: #b05158;
}
.topic .posts>li a, .tag-topic-count {
    color: #24948c;
}
.topic .posts>li a:hover {
    color: #30c3b9;
}
.expanded-chat .chat-content li.chat-message, .chat-modal .chat-content li.chat-message {
    font-weight: 400 !important;
}
span.timeago, a.permalink, a.permalink:active, a.permalink:focus {
    color: #b05158 !important;
}


/* Voting indicators */

.votes a {
    background-color: #5c5c5c;
}
.upvoted {
    background-color: #4caf50 !important;
}
.downvoted {
    background-color: #ef3939 !important;
}
.upvoted i.fa.fa-chevron-up, .downvoted i.fa.fa-chevron-down {
    color: #fefefe;
}


/* Logo animation */

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}
.categories>li .content .icon,
.category>ul>li .content .icon,
#vivaldilogo {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: rubberBand;
}

#vivaldimenu a .sub-arrow::after {
  color: #aaa !important;
}
.status.offline {
  color: #aaa;
}
.chats-list>li .avatar-placeholder {
  background-color: #2e3539;
}
.composer .formatting-bar .formatting-group li {
  color: #24948c;
}
.composer .formatting-bar .formatting-group li:focus, .composer .formatting-bar .formatting-group li:hover {
  background-color: #43494d;
}
.close {
  color: #ddd;
  opacity: 0.4;
}
.close:hover, .close:focus {
  color: #ddd;
  opacity: 0.85;
}
.chat-modal .chat-content li.chat-message .chat-user a, .expanded-chat .chat-content li.chat-message .chat-user a {
  color: #ddd;
}
header .notification-list li.unread, .slideout-menu .notification-list li.unread, .chat-list.chats-list li.unread, .bg-info {
  background-color: #1c2123 !important;
}
.chats-full .chats-list>li.unread {
  background-color: unset;
  color: #b05158;
}
.chat-modal [component="chat/nav-wrapper"] [component="chat/search/list"] li, .chats-full [component="chat/nav-wrapper"] [component="chat/search/list"] li {
background: #3f494e;
}
.notifications-list li:nth-child(even), .notifications-list li:nth-child(odd) {
  background-color: #43494d;
}
.notifications-list li.unread {
  background-color: #1c2123 !important;
}
li[data-nid^="new_post"]::before, li[data-nid^="upvote"]::before, li[data-nid^="follow"]::before, li[data-nid^="move"]::before, li[data-nid^="chat"]::before, li[data-nid^="tid"]::before, #menu .notification-list li .mark-read, .header .notification-list li .mark-read {
  color: #aaa !important;
}
#vivaldifooter a {
  color: #ddd;
}
a:hover {
  color: #ddd;
}


/* Advanced formatting mod */

.vivaldi-mod-modal-box {
  background: #2e3539;
  border-color: #3d474c;
  color: #24948c;
}
.vivaldi-mod-modal-box-control-bar {
  background: #3d474c;
  color: #ddd;
}
.dropmarker, .dropmarker:after {
  background: #24948c;
}
.dropmarker:before {
  border-color: #24948c;
}
#toolbar-custom ul li:hover {
  background-color: #43494d;
}

/** Emoji box colorization **/
/* Emoji box fix */
.emoji-dialog .top-bar,
.emoji-tabs {background-color: #4d585f;}

/* Fix invisible emojis */
img.not-responsive.emoji.emoji-emoji-one.emoji--female_sign,
img.not-responsive.emoji.emoji-emoji-one.emoji--male_sign,
img.not-responsive.emoji.emoji-emoji-one.emoji--medical_symbol,
img.not-responsive.emoji.emoji-emoji-one.emoji--old_key,
img.not-responsive.emoji.emoji-emoji-one.emoji--speaking_head,
img.not-responsive.emoji.emoji-emoji-one.emoji--bust_in_silhouette,
img.not-responsive.emoji.emoji-emoji-one.emoji--busts_in_silhouette,
img.not-responsive.emoji.emoji-emoji-one.emoji--heavy_check_mark {filter: invert(1);}
