/* Theme Standard */
/* Additional code to ensure compatibility with Forum mod features. */

/* Logo */
#vivaldilogo {
    fill: #4c70f0;
}

/* Advanced formatting mod */
.vivaldi-mod-modal-box {
    background: white;
    border-color: #f1f1f1;
}
.vivaldi-mod-modal-box-control-bar {
    background: #f1f1f1;
    color: black;
}
.dropmarker, .dropmarker:after {
    background: black;
}
.dropmarker:before {
    border-color: black;
}
#toolbar-custom ul li:hover {
    background-color: #e6e6e6;
}

/* Notification icons color */
li[data-nid^="new_post"]::before, li[data-nid^="edit_post"]::before, li[data-nid^="upvote"]::before, li[data-nid^="follow"]::before, li[data-nid^="move"]::before, li[data-nid^="chat"]::before, li[data-nid^="tid"]::before, #menu .notification-list li .mark-read, .header .notification-list li .mark-read {
    color: 777;
}

/* Copy all code button */
.copy-all-code-button {
    background-color: rgba(125, 125, 125, 0.66);
    color: #fff;
}
.copy-all-code-button:hover {
    color: #f4ff9d;
}

/* Theme preview */
.themebox-title {
    color: #333;
}
