/** Theme Standard **/


/* Voting indicators */

.upvoted {
    background-color: #4caf50 !important;
}
.downvoted {
    background-color: #ef3939 !important;
}
.upvoted i.fa.fa-chevron-up, .downvoted i.fa.fa-chevron-down {
    color: #fefefe;
}

/* Advanced formatting mod */
.vivaldi-mod-modal-box {
    background: white;
    border-color: #f1f1f1;
}
.vivaldi-mod-modal-box-control-bar {
    background: #f1f1f1;
    color: black;
}
.dropmarker, .dropmarker:after {
    background: black;
}
.dropmarker:before {
    border-color: black;
}
#toolbar-custom ul li:hover {
    background-color: #e6e6e6;
}
