/* Theme Vivaldi Dark */
/* Additional code to ensure compatibility with Forum mod features. */

/* Standard settings for header */
a#vlogo {
  height: 32px;
  width: 32px;
  margin-top: 0px;
}
.skin-dark #vlogo {
  background: unset;
}
#vivaldinav {
  left: 55px;
}
#communitysubmenu {
  display: none;
}
@media (min-width: 960px) {
  #submenu,
  #submenu.isfixed {
    top: 64px !important;
    position: fixed;
  }
  main#panel {
    margin-top: -70px;
  }
  .topic .topic-header {
    position: unset;
  }
  .chats-full {
    padding-top: 20px;
  }
}

/* Header */
#vlogo {
  fill: #4c70f0;
}

/* Advanced formatting mod */
.vivaldi-mod-modal-box {
  background: #141414;
  border-color: #434343;
}
.vivaldi-mod-modal-box-control-bar {
  background: #434343;
  color: #fff;
}
.dropmarker,
.dropmarker:after {
  background: #4c70f0;
}
.dropmarker:before {
  border-color: #4c70f0;
}
#toolbar-custom ul li:hover {
  background-color: #2c2c2c;
}

/* Copy all code button */
.copy-all-code-button {
  background-color: #4c70f0;
  color: #fff;
}
.copy-all-code-button:hover {
  background-color: #4363d3;
}

/* Highlight post-tools link button on click */
small.pull-right a.vfm-highlight {
  color: #c91106 !important;
}

/* Notification icons */
#menu .notification-list li::before,
.header .notification-list li::before,
#menu .notification-list li .mark-read,
.header .notification-list li .mark-read {
  color: #fff !important;
}

/* Theme preview */
.themebox-title {
  color: #fff;
}
