/* Compact header */

#vivaldiheader>.row {
    padding: 13px 20px;
}
#submenu li, #submenu ul {
    height: 50px;
    line-height: 50px;
}
#submenu {
    top: 50px !important;
    height: 50px;
}
#vivaldiheader {
    padding-top: 0px;
    height: 50px;
}
#vivaldilogin {
    top: -8px;
}
.navbar {
    margin-bottom: 0px;
}
#vivaldimenu > li:nth-child(1), #vivaldimenu > li:nth-child(2) {
    display: none;
}
.navbar-header {
    padding-top: 0;
}
#vivaldimenu .hov {
    padding-bottom: 8px;
}

/* margin adjustements */
.page-user-chats #content.container {
    padding-top: 10px !important;
}
#content {
    padding-top: 20px !important;
}

/* Account + groups cover and content adjustments */
@media (min-width: 992px) {
    .account .cover, .groups.details [component="groups/cover"] {
        top: 100px !important;
    }
}
@media (max-width: 991px) {
    .account .cover, .groups.details [component="groups/cover"]  {
        top: 100px !important;
    }
}
@media (max-width: 767px) {
    .account .cover, .groups.details [component="groups/cover"] {
        top: 50px !important;
    }
}
