/* Compact header */

.header .forum-logo {
	margin-top: 10px !important;
}
.menuwrapper {
	top: 50px !important;
}
#vivaldi-navigation {
	padding-top: 0px !important;
	height: 50px !important;
}
#user_label.dropdown.open {
	height: 49px;
}
.nav.navbar-nav.navbar-left li:nth-child(1), .nav.navbar-nav.navbar-left li:nth-child(2) {
	display: none;
}
.nav.navbar-nav.navbar-left li, .nav.navbar-nav.navbar-left li a {
	height: 50px;
}
.vivaldinav ul a {
	padding-top: 15px;
}
#logged-out-menu {
	margin-top: 3px;
}
.account .cover, .groups.details [component="groups/cover"] {
	margin-top: 50px;
}
@media (min-width: 768px) {
	#content {
 		margin-top: 30px;
	}
}