/* Displays user IDs on profiles and posts */

/* forum */
.clearfix.post-header small.pull-left strong a:hover::after {
    content: "  [UID:"attr(data-uid)"]";
}

/* profiles */
.account .cover .avatar-wrapper::after {
    content: "UID:"attr(data-uid);
    position: absolute;
    opacity: 0;
    width: 100%;
    text-align: center;
    margin-top: 135px;
    margin-left: -128px;
    transition: opacity 0.6s ease-out;
    font-size: 12px;
    font-weight: 500;
    color: var(--colorFg2);
}
.account .cover .avatar-wrapper:hover::after {
    opacity: 0.8;
}
